<div class="row-fluid">
  <div class="span9">
    <h1 class="title"><%= t('page.editing', :model => t('activerecord.models.bookmark_stat_has_manifestation')) -%></h1>
    <%= render 'form' %>
  </div>

  <div class="span3">
    <ul>
      <li><%= link_to t('page.show'), @bookmark_stat_has_manifestation -%></li>
      <li><%= link_to t('page.back'), bookmark_stat_has_manifestations_path -%></li>
    </ul>
  </div>
</div>
