<div id="content_detail" class="col col-md-9">
<h1 class="title card-header"><%= t('page.listing', model: t('activerecord.models.user_import_result')) -%></h1>
<div id="content_list" class="card-body">
  <% if @user_import_file %>
    <%= render 'list_lines' %>
  <% else %>
    <%= render 'list' %>
  <% end %>
  <%= paginate(@user_import_results) %>
</div>
</div>

<div id="submenu" class="col">
</div>
