<div id="basket_menu">
  <%- if @basket -%>
    <%= link_to t('basket.all_manifestation'), manifestations_path %>
  <%- else -%>
    <%- count = @current_basket.try(:checked_manifestations).try(:size) %>
    <%- if count > 0 -%>
      <%= link_to t('basket.show_basket', :count => count), manifestations_path(:basket_id => @current_basket) %><br />
      <%= link_to t('basket.clear_basket'), checked_manifestations_clear_all_path, :remote => true %><br />
    <%- else -%>
      <%= t('basket.show_basket', :count => count) %>
    <%- end -%>
  <%- end -%>
</div>
