<div id="content_detail" class="ui-corner-all ui-widget-content">
  <h1 class="title"><%= t('page.editing', model: t('activerecord.models.license')) -%></h1>
  <div id="content_list">
    <%= render 'form', license: @license %>
  </div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.show'), @license -%></li>
    <li><%= link_to t('page.back'), licenses_path -%></li>
  </ul>
</div>
