<div class="tag_cloud">
  <div class="hTagcloud">
    <ul class="popularity">
      <%- unless @tags.empty? -%>
        <%- tag_cloud @tags, ['popular', 'v-popular', 'vv-popular', 'vvv-popular', 'vvvv-popular'] do |tag, css_class| -%>
          <li><%= link_to h(tag.name), manifestations_path(:tag => tag.name), :class => css_class %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
