<div id="content_detail" class="col col-md-9">
  <h1 class="title card-header"><%= t('page.editing', model: t('activerecord.models.subject_heading_type')) -%></h1>
  <div id="content_list" class="card-body">
    <%= render 'form', subject_heading_type: @subject_heading_type %>
  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.show'), @subject_heading_type -%></li>
    <li><%= link_to t('page.back'), subject_heading_types_path -%></li>
  </ul>
</div>
