---
http_interactions:
- request:
    method: get
    uri: https://cir.nii.ac.jp/opensearch/v2/books?count=10&format=rss&p=1&q=library
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/rss+xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="utf-8" ?>
        <rdf:RDF xmlns="http://purl.org/rss/1.0/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:prism="http://prismstandard.org/namespaces/basic/2.0/" xmlns:ndl="http://ndl.go.jp/dcndl/terms" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/" xmlns:cir="https://cir.nii.ac.jp/schema/1.0/" xml:lang="ja">
        <channel rdf:about="https://cir.nii.ac.jp/opensearch/v2/books?q=library&amp;p=1&amp;count=10&amp;format=rss">
        <title>CiNii Research books - library 10 rss</title>
        <description>CiNii Research books - library 10 rss</description>
        <link>https://cir.nii.ac.jp/opensearch/v2/books?q=library&amp;p=1&amp;count=10&amp;format=rss</link>
        <dc:date>2026-08-10T20:38:25.465+09:00</dc:date>
        <opensearch:totalResults>182625</opensearch:totalResults>
        <opensearch:startIndex>1</opensearch:startIndex>
        <opensearch:itemsPerPage>10</opensearch:itemsPerPage>
        <items>
        <rdf:Seq>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1970586434850742563"/>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1970304959814525512"/>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1971149384758652697"/>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1970867909913381305"/>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1971430859779921961"/>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1971712334785304092"/>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1970586434890527391"/>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1970304959850556545"/>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1971430859845922743"/>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1971430859692042636"/>
        </rdf:Seq>
        </items>
        </channel>
        <item rdf:about="https://cir.nii.ac.jp/crid/1970586434850742563">
        <title>National treasures from Australia&apos;s great libraries</title>
        <link>https://cir.nii.ac.jp/crid/1970586434850742563</link>
        <rdfs:seeAlso rdf:resource="https://cir.nii.ac.jp/crid/1970586434850742563.rdf"/>
        <dc:creator>National Library of Australia</dc:creator>
        <dc:creator>Williams, Nat</dc:creator>
        <dc:creator>Dent, Margaret</dc:creator>
        <dc:creator>ACT Heritage Library</dc:creator>
        <dc:creator>Northern Territory Library</dc:creator>
        <dc:creator>State Library of New South Wales</dc:creator>
        <dc:creator>State Library of Queensland</dc:creator>
        <dc:creator>State Library of South Australia</dc:creator>
        <dc:creator>State Library of Tasmania</dc:creator>
        <dc:creator>State Library of Victoria</dc:creator>
        <dc:creator>State Library of Western Australia</dc:creator>
        <dc:publisher>National Library of Australia</dc:publisher>
        <dc:type>Book</dc:type>
        <prism:publicationDate>2005</prism:publicationDate>
        <dc:identifier rdf:datatype="cir:NCID">BB08033139</dc:identifier>
        <dc:identifier rdf:datatype="cir:ISBN">064227620X</dc:identifier>
        <dc:identifier rdf:datatype="cir:LCCN">2006445627</dc:identifier>
        <dc:identifier rdf:datatype="cir:URI">https://ci.nii.ac.jp/ncid/BB08033139#entity</dc:identifier>
        <dc:identifier rdf:datatype="cir:URI">https://lccn.loc.gov/2006445627</dc:identifier>
        <dc:source rdf:resource="https://ci.nii.ac.jp/ncid/BB08033139#entity"/>
        <dc:source rdf:resource="https://lccn.loc.gov/2006445627"/>
        </item>
        <item rdf:about="https://cir.nii.ac.jp/crid/1970304959814525512">
        <title>Descriptive catalogues of the manuscripts in the libraries of some Cambridge colleges</title>
        <link>https://cir.nii.ac.jp/crid/1970304959814525512</link>
        <rdfs:seeAlso rdf:resource="https://cir.nii.ac.jp/crid/1970304959814525512.rdf"/>
        <dc:cr[...]
