---
http_interactions:
- request:
    method: get
    uri: https://ci.nii.ac.jp/books/opensearch/search?count=10&format=rss&p=1&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: '400'
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0"?><error><code>400</code><reason>Bad Request</reason><detail>Required
        Parameter is Empty</detail></error>
  recorded_at: Sun, 09 Jul 2023 01:18:01 GMT
recorded_with: VCR 6.2.0
