---
http_interactions:
- request:
    method: get
    uri: https://ci.nii.ac.jp/books/opensearch/search?count=10&format=rss&p=1&q=library
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/rss+xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?><rdf:RDF xml:lang="ja" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:prism="http://prismstandard.org/namespaces/basic/2.0/" xmlns:cinii="http://ci.nii.ac.jp/ns/1.0/" xmlns="http://purl.org/rss/1.0/">
        <channel rdf:about="https://ci.nii.ac.jp/books/opensearch/search?p=1&amp;q=library&amp;count=10&amp;format=rss">
        <title>CiNii Books OpenSearch - 1 library 10</title>
        <description>CiNii Books OpenSearch - 1 library 10</description>
        <link>https://ci.nii.ac.jp/books/opensearch/search?p=1&amp;q=library&amp;count=10&amp;format=rss</link>
        <dc:date>2022-02-05T17:06:54+09:00</dc:date>
        <opensearch:totalResults>185060</opensearch:totalResults>
        <opensearch:startIndex>0</opensearch:startIndex>
        <opensearch:itemsPerPage>10</opensearch:itemsPerPage>
        <items>
        <rdf:Seq>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/BB11041135"/>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/BA21367696"/>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/BA8523466X"/>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/BA85231592"/>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/BB23724204"/>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/BB08423246"/>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/BA71932023"/>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/BA71931122"/>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/AA00039103"/>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/BB26309402"/>
        </rdf:Seq>
        </items>
        </channel>
        <item rdf:about="https://ci.nii.ac.jp/ncid/BB11041135">
        <title>A journey around the world mind : Cambridge University Library</title>
        <link>https://ci.nii.ac.jp/ncid/BB11041135</link>
        <rdfs:seeAlso rdf:resource="https://ci.nii.ac.jp/ncid/BB11041135.rdf"/>
        <dc:creator/>
        <dc:publisher>Cambridge University Library</dc:publisher>
        <prism:publicationDate>2005</prism:publicationDate>
        <dc:date>2005</dc:date>
        <dcterms:hasPart rdf:resource="urn:isbn:0902205609"/>
        <cinii:ownerCount>1</cinii:ownerCount>
        </item>
        <item rdf:about="https://ci.nii.ac.jp/ncid/BA21367696">
        <title>Cambridge University Library Genizah series</title>
        <link>https://ci.nii.ac.jp/ncid/BA21367696</link>
        <rdfs:seeAlso rdf:resource="https://ci.nii.ac.jp/ncid/BA21367696.rdf"/>
        <dc:creator/>
        <dc:publisher>Cambridge University Press</dc:publisher>
        <cinii:ownerCount>0</cinii:ownerCount>
        </item>
        <item rdf:about="https://ci.nii.ac.jp/ncid/BA8523466X">
        <title>Russian printing to 1917 : a catalogue of an exhibition in the University Library, Cambridge, 22 April to 29 June 1974</title>
        <link>https://ci.nii.ac.jp/ncid/BA8523466X</link>
        <rdfs:seeAlso rdf:resource="https://ci.nii.ac.jp/ncid/BA8523466X.rdf"/>
        <dc:creator/>
        <dc:publisher>[The Library]</dc:publisher>
        <prism:publicationDate>1974</prism:publicationDate>
        <dc:date>1974</dc:date>
        <cinii:ownerCount>1</cinii:ownerCount>
        </item>
        <item rdf:about="https://ci.nii.ac.jp/ncid/BA85231592">
        <title>Guide to faculty and departmental libraries in the University of Cambridge</title>
        <link>https://ci.nii.ac.jp/ncid/BA85231592</link>
        <rdfs:seeAlso rdf:resource="https://ci.nii.ac.jp/ncid/BA85231592.rdf"/>
        <dc:creator>with an appendix containing the libraries of certain institutes, etc., that offer facilities to members of the University</dc:creator>
        <dc:publisher>Cambridge University Library</dc:publisher>
        <prism:publicationDate>1967</prism:publicationDate>
        <dc:date>1967</dc:date>
        <cinii:ownerCount>1</cinii:ownerCount>
        </item>
        <item rdf:about="https://ci.nii.ac.jp/ncid/BB23724204">
        <title>A journey around the world mind</title>
        <link>https://ci.[...]
