---
http_interactions:
- request:
    method: get
    uri: https://cir.nii.ac.jp/opensearch/v2/books?count=10&format=rss&p=1&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/rss+xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="utf-8" ?>
        <rdf:RDF xmlns="http://purl.org/rss/1.0/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:prism="http://prismstandard.org/namespaces/basic/2.0/" xmlns:ndl="http://ndl.go.jp/dcndl/terms" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/" xmlns:cir="https://cir.nii.ac.jp/schema/1.0/" xml:lang="ja">
        <channel rdf:about="https://cir.nii.ac.jp/opensearch/v2/books?q=&amp;p=1&amp;count=10&amp;format=rss">
        <title>CiNii Research books - 10 rss</title>
        <description>CiNii Research books - 10 rss</description>
        <link>https://cir.nii.ac.jp/opensearch/v2/books?q=&amp;p=1&amp;count=10&amp;format=rss</link>
        <dc:date>2026-08-10T20:38:25.618+09:00</dc:date>
        <opensearch:totalResults>0</opensearch:totalResults>
        <opensearch:startIndex>1</opensearch:startIndex>
        <opensearch:itemsPerPage>0</opensearch:itemsPerPage>
        <items>
        <rdf:Seq>
        </rdf:Seq>
        </items>
        </channel>
        </rdf:RDF>
  recorded_at: Mon, 10 Aug 2026 11:38:25 GMT
recorded_with: VCR 6.4.0
