<div id="content_detail" class="col col-md-9">
  <h1 class="title card-header"><%= t('page.new', model: t('activerecord.models.event_category')) -%></h1>
  <div id="content_list" class="card-body">
    <%= render 'form', event_category: @event_category %>
  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.back'), event_categories_path -%></li>
  </ul>
</div>
