<div id="content_detail" class="col col-md-9">
  <h1 class="title card-header"><%= t('page.editing', model: t('activerecord.models.create_type')) -%></h1>
  <div id="content_list" class="card-body">
    <%= render 'form', create_type: @create_type %>
  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.show'), @create_type -%></li>
    <li><%= link_to t('page.back'), create_types_path -%></li>
  </ul>
</div>
