<div id="content_detail" class="col-md-9">
  <div class="card">
    <h5 class="title card-header"><%= t("page.new", model: t("activerecord.models.create_type")) -%></h5>
    <div id="content_list" class="card-body">
      <%= render "form", create_type: @create_type %>
    </div>
  </div>
</div>

<div id="submenu" class="col">
  <div class="card">
    <ul>
      <li><%= link_to t("page.back"), create_types_path -%></li>
    </ul>
  </div>
</div>
