<div id="content_detail" class="ui-corner-all ui-widget-content">
  <h1 class="title"><%= t('page.editing', model: t('activerecord.models.user_checkout_stat')) -%></h1>
  <div id="content_list">
    <%= render 'form', user_checkout_stat: @user_checkout_stat %>
  </div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.show'), @user_checkout_stat -%></li>
    <li><%= link_to t('page.back'), user_checkout_stats_path -%></li>
  </ul>
</div>
