<div id="content_detail" class="col-md-9">
  <div class="card">
    <h5 class="title card-header"><%= t("page.editing", model: t("activerecord.models.shelf")) -%></h5>
    <div id="content_list" class="card-body">
      <%= render "form", shelf: @shelf %>
    </div>
  </div>
</div>

<div id="submenu" class="col">
  <div class="card">
    <ul>
      <li><%= link_to t("page.show"), @shelf -%></li>
      <li><%= link_to t("page.back"), shelves_path -%></li>
    </ul>
  </div>
</div>
