<div class="row-fluid">
  <div class="span9">
    <h1 class="title"><%= t('page.editing', :model => t('activerecord.models.shelf')) -%></h1>
    <%= render 'form' %>
  </div>

  <div class="span3">
    <ul>
      <li><%= link_to t('page.show'), @shelf -%></li>
      <li><%= link_to t('page.back'), shelves_path -%></li>
    </ul>
  </div>
</div>
