<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.shelf')) -%></h1>
<div id="content_list">
  <%= render 'form' %>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li>
      <%- if @shelf.library -%>
        <%= link_to t('page.back'), library_shelves_path(@shelf.library) -%>
      <%- else -%>
        <%= link_to t('page.back'), shelves_path -%>
      <%- end -%>
    </li>
  </ul>
</div>
