<div id="content_detail" class="col col-md-9">
  <h1 class="title card-header"><%= t('page.new', model: t('activerecord.models.shelf')) -%></h1>
  <div id="content_list" class="card-body">
    <%= render 'form', shelf: @shelf %>
  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <li>
      <%- if @shelf.library -%>
        <%= link_to t('page.back'), shelves_path(library_id: @shelf.library_id) -%>
      <%- else -%>
        <%= link_to t('page.back'), shelves_path -%>
      <%- end -%>
    </li>
  </ul>
</div>
