<%= form_for :reserve, :url => user_reserves_path(@user, :format => :pdf), :html => {:method => :get} do -%>
<div class="actions">
  <%= hidden_field_tag :user_id, @user.id -%>
  <%= submit_tag t('page.output', :model => t('activerecord.attributes.reserve.reserve_list')) %>
</div>
<%- end -%>

