<%= form_for :reserve, :url => {:controller => 'reserves', :action => :output_user}, :html => {:method => :output_user,:name => 'reserves'} do -%>
<div class="actions">
  <%= hidden_field_tag :user_id, @user.id -%>
  <%= submit_tag t('page.output', :model => t('activerecord.attributes.reserve.reserve_list')) %>
</div>
<%- end -%>

