RAILS_ENV=production
RAILS_LOG_TO_STDOUT=true
# RAILS_SERVE_STATIC_FILES=true

POSTGRES_USER=enju
POSTGRES_HOST=postgres
POSTGRES_PASSWORD=password
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/enju_leaf_${RAILS_ENV}

REDIS_URL=redis://redis

SOLR_URL=http://solr:8983/solr/enju_leaf_${RAILS_ENV}

TIKA_URL=http://tika:9998

# MINIO_ROOT_USER=enju
# MINIO_ROOT_PASSWORD=password

ENJU_LEAF_BIND_ADDRESS=127.0.0.1
ENJU_LEAF_BASE_URL=http://localhost:8080
ENJU_LEAF_DEFAULT_LOCALE=ja
ENJU_LEAF_TIME_ZONE=Asia/Tokyo
# ENJU_LEAF_STORAGE_BUCKET=enju-leaf
# ENJU_LEAF_STORAGE_ENDPOINT=http://minio:9000
ENJU_LEAF_EXTRACT_TEXT=
ENJU_LEAF_EXTRACT_FILESIZE_LIMIT=2097152
# ENJU_LEAF_RESOURCESYNC_BASE_URL=http://localhost:8080

CANTALOUPE_BASE_URI=http://cantaloupe:8182

no_proxy=localhost,webpacker,minio,solr,tika
NO_PROXY=${no_proxy}

UID=1000
GID=1000
