volumes:
  minio:

x-app: &app
  env_file:
    - .env
  build:
    context: .
    args:
      - UID=${UID}
      - GID=${GID}
      - http_proxy=${http_proxy}
      - https_proxy=${http_proxy}
  image: ghcr.io/next-l/enju_leaf:1.4
  networks:
    internal:
  volumes:
    - ./:/enju
  depends_on:
    - postgres
    - solr
    - redis
  restart: always

services:
  webpacker:
    <<: *app
    environment:
      - NODE_ENV=development
      - WEBPACKER_DEV_SERVER_HOST=127.0.0.1
    profiles:
      - develop
    command: ./bin/webpack-dev-server
    ports:
      - 127.0.0.1:3035:3035
    profiles:
      - develop

  minio:
    image: quay.io/minio/minio:RELEASE.2024-08-03T04-33-23Z
    volumes:
      - minio:/data
    entrypoint:
      /bin/sh -c "mkdir -p /data/${ENJU_LEAF_STORAGE_BUCKET} && minio server /data --console-address \":9001\""
    expose:
      - 9000
      - 9001
    env_file:
      - .env
    restart: always
    networks:
      internal:
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    profiles:
      - develop
