---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=bath.lccn=%22%5E2013602064%22&recordSchema=mods&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo>\n    <title>Clint Eastwood</title>\n  </titleInfo>\n  <titleInfo
        type=\"uniform\">\n    <title>Dirty Harry (Motion picture)</title>\n  </titleInfo>\n
        \ <titleInfo type=\"uniform\">\n    <title>Magnum force (Motion picture)</title>\n
        \ </titleInfo>\n  <titleInfo type=\"uniform\">\n    <title>Enforcer (Motion
        picture)</title>\n  </titleInfo>\n  <titleInfo type=\"uniform\">\n    <title>Gauntlet
        (Motion picture)</title>\n  </titleInfo>\n  <titleInfo type=\"uniform\">\n
  [...]
