---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=bath.lccn=%22%5E2008273186%22&recordSchema=mods&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo>\n    <title>Flexible Rails</title>\n    <subTitle>Flex 3 on
        Rails 2</subTitle>\n  </titleInfo>\n  <name type=\"personal\" usage=\"primary\">\n
        \   <namePart>Armstrong, Peter.</namePart>\n  </name>\n  <typeOfResource>text</typeOfResource>\n
        \ <originInfo>\n    <place>\n      <placeTerm type=\"code\" authority=\"marccountry\">ctu</placeTerm>\n
        \   </place>\n    <place>\n      <placeTerm type=\"text\">Greenwich, CT</placeTerm>\n
        \   </place>\n    <publisher>Manning Publishing</publisher>\n    <dateIssued>c2007</dateIssued>\n
        \   <dateIssued encoding=\"marc\">2007</dateIssued>\n    <issuance>monographic</issuance>\n
        \ </originInfo>\n  <language>\n    <languageTerm authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n
        \ </language>\n  <physicalDescription>\n    <form authority=\"marcform\">print</form>\n
        \   <extent>xxxi, 557 p. : ill. ; 24 cm.</extent>\n  </physicalDescription>\n
        \ <abstract type=\"Summary\">Presents a guide to using Flex3 with Rails 2
        to create a variety of Web applications.</abstract>\n  <note type=\"statement
        of responsibility\" altRepGroup=\"00\">Peter Armstrong.</note>\n  <note>Includes
        index.</note>\n  <subject authority=\"lcsh\">\n    <titleInfo>\n      <title>Flex
        (Computer file)</title>\n    </titleInfo>\n  </subject>\n  <subject authority=\"lcsh\">\n
        \   <titleInfo>\n      <title>Ruby on rails (Electronic resource)</title>\n
        \   </titleInfo>\n  </subject>\n  <subject authority=\"lcsh\">\n    <topic>Internet
        programming</topic>\n  </subject>\n  <subject authority=\"lcsh\">\n    <topic>Application
        software</topic>\n    <topic>Development</topic>\n  </subject>\n  <subject
        authority=\"lcsh\">\n    <topic>Web site development</topic>\n    <topic>Computer
        programs</topic>\n  </subject>\n  <classification authority=\"lcc\">QA76.625
        .A745 2007</classification>\n  <classification authority=\"ddc\" edition=\"22\">006.7/6</classification>\n
        \ <identifier type=\"isbn\">1933988509</identifier>\n  <identifier type=\"isbn\">9781933988504</identifier>\n
        \ <identifier type=\"lccn\">2008273186</identifier>\n  <relatedItem>\n    <location>\n
        \     <url displayLabel=\"Contributor biographical information\">http://www.loc.gov/catdir/enhancements/fy0913/2008273186-b.html</url>\n
        \   </location>\n  </relatedItem>\n  <relatedItem>\n    <location>\n      <url
        displayLabel=\"Publisher description\">http://www.loc.gov/catdir/enhancements/fy0915/2008273186-d.html</url>\n
        \   </location>\n  </relatedItem>\n  <recordInfo>\n    <descriptionStandard>aacr</descriptionStandard>\n
        \   <recordContentSource authority=\"marcorg\">DLC</recordContentSource>\n
        \   <recordCreationDate encoding=\"marc\">080415</recordCreationDate>\n    <recordChangeDate
        encoding=\"iso8601\">20090811090147.0</recordChangeDate>\n    <recordIdentifier>15262217</recordIdentifier>\n
        \   <recordOrigin>Converted from MARCXML to MODS version 3.6 using MARC21slim2MODS3-6.xsl\n\t\t\t\t(Revision
        1.119 2018/06/21)</recordOrigin>\n  </recordInfo>\n</mods></zs:recordData><zs:recordPosition>1</zs:recordPosition></zs:record></zs:records><zs:echoedSearchRetrieveRequest><zs:version>1.1</zs:version><zs:query>bath.lccn=\"^2008273186\"</zs:query><zs:maximumRecords>10</zs:maximumRecords><zs:recordPacking>xml</zs:recordPacking><zs:recordSchema>mods</zs:recordSchema></zs:echoedSearchRetrieveRequest></zs:searchRetrieveResponse>\n"
  recorded_at: Mon, 14 Feb 2022 03:17:38 GMT
recorded_with: VCR 6.0.0
