---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=bath.lccn=%22%5E2001315134%22&recordSchema=mods&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo>\n    <title>Oversight hearings to examine the laws, policies,
        practices, and operations of the DOI, DOE, and other agencies pertaining to
        payments to their employees, including payments relative to mineral royalty
        programs and policies from public lands and Indian lands</title>\n    <subTitle>oversight
        hearings before the Subcommittee on Energy and Mineral Resources of the Committee
        on Resources, House of Representatives, One Hundred Sixth Congress, second
        session, May 4 and 18, 2000, Washington, DC</subTitle>\n  </titleInfo>\n  <name
        type=\"corporate\">\n    <namePart>United States</namePart>\n    <namePart>Congress.</namePart>\n
        \   <namePart>House.</namePart>\n    <namePart>Committee on Resources.</namePart>\n
        \   <namePart>Subcommittee on Energy and Mineral Resources.</namePart>\n  </name>\n
        \ <typeOfResource>text</typeOfResource>\n  <genre authority=\"marcgt\">bibliography</genre>\n
        \ <genre authority=\"marcgt\">government publication</genre>\n  <originInfo>\n
        \   <place>\n      <placeTerm type=\"code\" authority=\"marccountry\">dcu</placeTerm>\n
        \   </place>\n    <place>\n      <placeTerm type=\"text\">Washington</placeTerm>\n
        \   </place>\n    <publisher>U.S. G.P.O.</publisher>\n    <publisher>[U.S.
        G.P.O., Supt. of Docs., Congressional Sales Office, distributor]</publisher>\n
        \   <dateIssued>1999 [i.e. 2000]</dateIssued>\n    <dateIssued encoding=\"marc\">2000</dateIssued>\n
        \   <issuance>monographic</issuance>\n  </originInfo>\n  <language>\n    <languageTerm
        authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n  </language>\n
        \ <physicalDescription>\n    <form authority=\"marcform\">print</form>\n    <extent>iii,
        333 p. ; 24 cm.</extent>\n  </physicalDescription>\n  <note>Distributed to
        some depository libraries in microfiche.</note>\n  <note>Shipping list no.:
        2001-0059-P.</note>\n  <note>\"Serial no. 106-73.\"</note>\n  <note type=\"bibliography\">Includes
        bibliographical references.</note>\n  <note type=\"additional physical form\">Also
        available in digital form on the Library of Congress Web site.</note>\n  <subject>\n
        \   <geographicCode authority=\"marcgac\">n-us---</geographicCode>\n  </subject>\n
        \ <subject authority=\"lcsh\">\n    <topic>Oil and gas leases</topic>\n    <geographic>United
        States</geographic>\n  </subject>\n  <subject authority=\"lcsh\">\n    <topic>Oil
        fields</topic>\n    <topic>Valuation</topic>\n    <topic>Corrupt practices</topic>\n
        \   <geographic>United States</geographic>\n  </subject>\n  <subject authority=\"lcsh\">\n
        \   <topic>Governmental investigations</topic>\n    <geographic>United States</geographic>\n
        \ </subject>\n  <subject authority=\"lcsh\">\n    <topic>Abuse of administrative
        power</topic>\n    <geographic>United States</geographic>\n  </subject>\n
        \ <subject authority=\"lcsh\">\n    <geographic>United States</geographic>\n
        \   <topic>Officials and employees</topic>\n    <topic>Professional ethics</topic>\n
        \ </subject>\n  <classification authority=\"lcc\">KF27 .R3846 2000</classification>\n
        \ <location>\n    <url displayLabel=\"Text version:\" usage=\"primary display\">http://purl.access.gpo.gov/GPO/LPS7996</url>\n
        \ </location>\n  <location>\n    <url displayLabel=\"PDF version:\" note=\"Adobe
        Acrobat Reader required\">http://purl.access.gpo.gov/GPO/LPS7840</url>\n  </location>\n
        \ <location>\n    <url displayLabel=\"electronic resource\">http://hdl.loc.gov/loc.law/llconghear.00073112394</url>\n
        \ </location>\n  <identifier type=\"isbn\">016064464X</identifier>\n  <identifier
        type=\"lccn\">2001315134</identifier>\n  <identifier type=\"oclc\">ocm45694064</identifier>\n
        \ <identifier type=\"hdl\">hdl:loc.law/llconghear.00073112394</identifier>\n
        \ <recordInfo>\n    <descriptionStandard>aacr</descriptionStandard>\n    <recordContentSource
        authority=\"marcorg\">DGPO/DLC</recordContentSource>\n    <recordCreationDate
        encoding=\"marc\">010112</recordCreationDate>\n    <recordChangeDate encoding=\"iso8601\">20161208090614.0</recordChangeDate>\n
        \   <recordIdentifier>12277596</recordIdentifier>\n    <recordOrigin>Converted
        from MARCXML to MODS version 3.6 using MARC21slim2MODS3-6.xsl\n\t\t\t\t(Revision
        1.119 2018/06/21)</recordOrigin>\n  </recordInfo>\n</mods></zs:recordData><zs:recordPosition>1</zs:recordPosition></zs:record></zs:records><zs:echoedSearchRetrieveRequest><zs:version>1.1</zs:version><zs:query>bath.lccn=\"^2001315134\"</zs:query><zs:maximumRecords>10</zs:maximumRecords><zs:recordPacking>xml</zs:recordPacking><zs:recordSchema>mods</zs:recordSchema></zs:echoedSearchRetrieveRequest></zs:searchRetrieveResponse>\n"
  recorded_at: Mon, 14 Feb 2022 03:17:44 GMT
recorded_with: VCR 6.0.0
