---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=bath.lccn=%22%5E2014563060%22&recordSchema=mods&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo>\n    <title>Music of the baroque</title>\n    <subTitle>an anthology
        of scores</subTitle>\n  </titleInfo>\n  <name type=\"personal\">\n    <namePart>Schulenberg,
        David.</namePart>\n  </name>\n  <typeOfResource>notated music</typeOfResource>\n
        \ <genre authority=\"rdacontent\">text</genre>\n  <originInfo>\n    <place>\n
        \     <placeTerm type=\"code\" authority=\"marccountry\">nyu</placeTerm>\n
        \   </place>\n    <dateIssued encoding=\"marc\">2014</dateIssued>\n    <edition>Third
        edition.</edition>\n    <issuance>monographic</issuance>\n  </originInfo>\n
        \ <originInfo eventType=\"publication\">\n    <place>\n      <placeTerm type=\"text\">New
        York :</placeTerm>\n    </place>\n    <publisher>Oxford University Press,</publisher>\n
        \   <dateIssued>[2014]</dateIssued>\n  </originInfo>\n  <language>\n    <languageTerm
        authority=\"iso639-2b\" type=\"code\">zxx</languageTerm>\n  </language>\n
        \ <physicalDescription>\n    <form authority=\"marcform\">print</form>\n    <extent>1
        score (x, 303 pages) ; 28 cm</extent>\n    <form type=\"media\" authority=\"rdamedia\">unmediated</form>\n
        \   <form type=\"carrier\" authority=\"rdacarrier\">volume</form>\n  </physicalDescription>\n
        \ <tableOfContents>Dum complerentur / G.P. da Palestrina -- Timor et tremor
        / Orlande de Lassus -- Luci serene / Claudio Monteverdi -- Sfogava con le
        stelle / Giulio Caccini -- Orfeo, act 2. Selections / Claudio Monteverdi --
        Calisto. Selections / P.F. Cavalli -- Ardo in tacito foco / Barbara Strozzi
        -- Correa nel seno amato. Selections / Alessandro Scarlatti -- From rosy bowers
        / Henry Purcell -- Armide. Selections / J.-B. Lully -- In ecclesiis / Giovanni
        Gabrieli -[...]
