---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=bath.lccn=%22%5E2014381788%22&recordSchema=mods&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo>\n    <title>Harry Potter and the sorcerer's stone</title>\n
        \ </titleInfo>\n  <titleInfo type=\"uniform\" nameTitleGroup=\"1\">\n    <title>Harry
        Potter and the philosopher's stone</title>\n  </titleInfo>\n  <name type=\"personal\"
        usage=\"primary\" nameTitleGroup=\"1\">\n    <namePart>Rowling, J. K.</namePart>\n
        \ </name>\n  <name type=\"personal\">\n    <namePart>GrandPre&#x301;, Mary</namePart>\n
        \   <role>\n      <roleTerm type=\"text\">ill.</roleTerm>\n    </role>\n  </name>\n
        \ <typeOfResource>text</typeOfResource>\n  <originInfo>\n    <place>\n      <placeTerm
        type=\"code\" authority=\"marccountry\">nyu</placeTerm>\n    </place>\n    <place>\n
        \     <placeTerm type=\"text\">New York</placeTerm>\n    </place>\n    <publisher>Scholastic</publisher>\n
        \   <dateIssued>[2013]</dateIssued>\n    <dateIssued encoding=\"marc\">2013</dateIssued>\n
        \   <issuance>monographic</issuance>\n  </originInfo>\n  <language>\n    <languageTerm
        authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n  </language>\n
        \ <physicalDescription>\n    <form authority=\"marcform\">print</form>\n    <extent>309
        p. : ill. ; 21 cm.</extent>\n  </physicalDescription>\n  <abstract type=\"Summary\">Rescued
        from the outrageous neglect of his aunt and uncle, a young boy with a great
        destiny proves his worth while attending Hogwarts School for Witchcraft and
        Wizardry.</abstract>\n  <targetAudience authority=\"marctarget\">juvenile</targetAudience>\n
        \ <note type=\"statement of responsibility\" altRepGroup=\"00\">by J.K. Rowling
        ; illustrations by Mary GrandPre&#x301;.</note>\n  <note>\"Year 1\"--Spine.</note>\n
        \ <note>Sequel: Harry Potter and the Chamber of Secrets.</note>\n  <subject
        authority=\"lcsh\">\n    <name type=\"personal\">\n      <namePart>Potter,
        Harry</namePart>\n      <namePart type=\"termsOfAddress\">(Fictitious character)</namePart>\n
        \   </name>\n    <genre>Juvenile fiction</genre>\n  </subject>\n  <subject
        authority=\"lcsh\">\n    <name type=\"personal\">\n      <namePart>Granger,
        Hermione</namePart>\n      <namePart type=\"termsOfAddress\">(Fictitious character)</namePart>\n
        \   </name>\n    <genre>Juvenile fiction</genre>\n  </subject>\n  <subject
        authority=\"lcsh\">\n    <topic>Weasley, Ron (Fictitious character)</topic>\n
        \   <genre>Juvenile fiction</genre>\n  </subject>\n  <subject authority=\"lcsh\">\n
        \   <topic>Hogwarts School of Witchcraft and Wizardry (Imaginary organization)</topic>\n
        \   <genre>Juvenile fiction</genre>\n  </subject>\n  <subject authority=\"lcsh\">\n
        \   <topic>Wizards</topic>\n    <genre>Juvenile fiction</genre>\n  </subject>\n
        \ <subject authority=\"lcsh\">\n    <topic>Magic</topic>\n    <genre>Juvenile
        fiction</genre>\n  </subject>\n  <subject authority=\"lcsh\">\n    <topic>Schools</topic>\n
        \   <genre>Juvenile fiction</genre>\n  </subject>\n  <subject authority=\"lcshac\">\n
        \   <topic>Wizards</topic>\n    <genre>Fiction</genre>\n  </subject>\n  <subject
        authority=\"lcshac\">\n    <topic>Magic</topic>\n    <genre>Fiction</genre>\n
        \ </subject>\n  <subject authority=\"lcshac\">\n    <topic>Schools</topic>\n
        \   <genre>Fiction</genre>\n  </subject>\n  <subject authority=\"lcsh\">\n
        \   <geographic>England</geographic>\n    <genre>Juvenile fiction</genre>\n
        \ </subject>\n  <subject authority=\"lcshac\">\n    <geographic>England</geographic>\n
        \   <genre>Fiction</genre>\n  </subject>\n  <classification authority=\"lcc\">PZ7.R79835
        Har 2013</classification>\n  <classification authority=\"ddc\" edition=\"23\">[Fic]</classification>\n
        \ <identifier type=\"isbn\">9780545582889 (pbk.)</identifier>\n  <identifier
        type=\"lccn\">2014381788</identifier>\n  <recordInfo>\n    <descriptionStandard>aacr</descriptionStandard>\n
        \   <recordContentSource authority=\"marcorg\">DLC</recordContentSource>\n
        \   <recordCreationDate encoding=\"marc\">140603</recordCreationDate>\n    <recordChangeDate
        encoding=\"iso8601\">20200115144655.0</recordChangeDate>\n    <recordIdentifier>18174426</recordIdentifier>\n
        \   <recordOrigin>Converted from MARCXML to MODS version 3.6 using MARC21slim2MODS3-6.xsl\n\t\t\t\t(Revision
        1.119 2018/06/21)</recordOrigin>\n  </recordInfo>\n</mods></zs:recordData><zs:recordPosition>1</zs:recordPosition></zs:record></zs:records><zs:echoedSearchRetrieveRequest><zs:version>1.1</zs:version><zs:query>bath.lccn=\"^2014381788\"</zs:query><zs:maximumRecords>10</zs:maximumRecords><zs:recordPacking>xml</zs:recordPacking><zs:recordSchema>mods</zs:recordSchema></zs:echoedSearchRetrieveRequest></zs:searchRetrieveResponse>\n"
  recorded_at: Mon, 14 Feb 2022 03:17:51 GMT
recorded_with: VCR 6.0.0
