---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=bath.lccn=%22%5E94041789%22&recordSchema=mods&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo>\n    <nonSort xml:space=\"preserve\">The </nonSort>\n    <title>little
        boat</title>\n  </titleInfo>\n  <name type=\"personal\" usage=\"primary\">\n
        \   <namePart>Henderson, Kathy</namePart>\n    <namePart type=\"date\">1949-</namePart>\n
        \ </name>\n  <name type=\"personal\">\n    <namePart>Benson, Patrick</namePart>\n
        \   <role>\n      <roleTerm type=\"text\">ill.</roleTerm>\n    </role>\n  </name>\n
        \ <typeOfResource>text</typeOfResource>\n  <originInfo>\n    <place>\n      <placeTerm
        type=\"code\" authority=\"marccountry\">mau</placeTerm>\n    </place>\n    <place>\n
        \     <placeTerm type=\"text\">Cambridge, Mass</placeTerm>\n    </place>\n
        \   <publisher>Candlewick Press</publisher>\n    <dateIssued>1995</dateIssued>\n
        \   <edition>1st U.S. ed.</edition>\n    <issuance>monographic</issuance>\n
        \ </originInfo>\n  <language>\n    <languageTerm authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n
        \ </language>\n  <physicalDescription>\n    <form authority=\"marcform\">print</form>\n
        \   <extent>1 v. (unpaged) : col. ill. ; 25 x 29 cm.</extent>\n  </physicalDescription>\n
        \ <abstract type=\"Summary\">A little boy playing at the seashore makes a
        toy sailboat that is swept out to sea, and, after braving storms, hungry fish,
        and bigger boats, is finally found by a little girl at the opposite shore.</abstract>\n
        \ <targetAudience authority=\"marctarget\">juvenile</targetAudience>\n  <note
        type=\"statement of responsibility\" altRepGroup=\"00\">Kathy Henderson ;
        illustrated by Patrick Benson.</note>\n  <subject authority=\"lcshac\">\n
        \   <topic>Sailboats</topic>\n    <topic>Fiction</topic>\n  </subject>\n  <subject
        authority=\"lcshac\">\n    <topic>Seashore</topic>\n    <topic>Fiction</topic>\n
        \ </subject>\n  <subject authority=\"lcshac\">\n    <topic>Ocean</topic>\n
        \   <topic>Fiction</topic>\n  </subject>\n  <classification authority=\"lcc\">PZ7.H8305
        Li 1995</classification>\n  <classification authority=\"ddc\" edition=\"20\">[E]</classification>\n
        \ <identifier type=\"isbn\">1564024202</identifier>\n  <identifier type=\"lccn\">94041789</identifier>\n
        \ <recordInfo>\n    <descriptionStandard>aacr</descriptionStandard>\n    <recordContentSource
        authority=\"marcorg\">DLC</recordContentSource>\n    <recordCreationDate encoding=\"marc\">941028</recordCreationDate>\n
        \   <recordChangeDate encoding=\"iso8601\">19970109142517.9</recordChangeDate>\n
        \   <recordIdentifier>2070844</recordIdentifier>\n    <recordOrigin>Converted
        from MARCXML to MODS version 3.6 using MARC21slim2MODS3-6.xsl\n\t\t\t\t(Revision
        1.119 2018/06/21)</recordOrigin>\n  </recordInfo>\n</mods></zs:recordData><zs:recordPosition>1</zs:recordPosition></zs:record></zs:records><zs:echoedSearchRetrieveRequest><zs:version>1.1</zs:version><zs:query>bath.lccn=\"^94041789\"</zs:query><zs:maximumRecords>10</zs:maximumRecords><zs:recordPacking>xml</zs:recordPacking><zs:recordSchema>mods</zs:recordSchema></zs:echoedSearchRetrieveRequest></zs:searchRetrieveResponse>\n"
  recorded_at: Mon, 14 Feb 2022 03:17:55 GMT
recorded_with: VCR 6.0.0
