---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=bath.lccn=%22%5E00200486%22&recordSchema=mods&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo>\n    <title>Science and technology of advanced materials</title>\n
        \ </titleInfo>\n  <titleInfo type=\"alternative\">\n    <title>STAM</title>\n
        \ </titleInfo>\n  <typeOfResource>text</typeOfResource>\n  <genre authority=\"marcgt\">periodical</genre>\n
        \ <genre authority=\"rdacontent\">text</genre>\n  <genre authority=\"0\">Electronic
        journals.</genre>\n  <genre authority=\"fast\">Periodicals.</genre>\n  <originInfo>\n
        \   <place>\n      <placeTerm type=\"code\" authority=\"marccountry\">enk</placeTerm>\n
        \   </place>\n    <place>\n      <placeTerm type=\"text\">Kidlington, Oxford</placeTerm>\n
        \   </place>\n    <publisher>Elsevier</publisher>\n    <dateIssued>&#xA9;2000-</dateIssued>\n
        \   <dateIssued encoding=\"marc\" point=\"start\">2000</dateIssued>\n    <dateIssued
        encoding=\"marc\" point=\"end\">9999</dateIssued>\n    <issuance>serial</issuance>\n
        \   <frequency>Eight times a year, &lt;Oct. 2006-&gt;</frequency>\n    <frequency>Bimonthly,
        Jan. 2003-Nov. 2004</frequency>\n    <frequency>Quarterly, Mar. 2000-Dec.
        2002</frequency>\n    <frequency authority=\"marcfrequency\">Bimonthly</frequency>\n
        \ </originInfo>\n  <language>\n    <languageTerm authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n
        \ </language>\n  <physicalDescription>\n    <form authority=\"marcform\">print</form>\n
        \   <extent>volumes : illustrations (some color) ; 28 cm</extent>\n    <form
        type=\"media\" authority=\"rdamedia\">unmediated</form>\n    <form type=\"carrier\"
        authority=\"rdacarrier\">volume</form>\n  </physicalDescription>\n  <note
        type=\"date/sequential designation\">Vol. 1, no. 1 (Mar. 2000)-</note>\n  <note>Title
        from cover.</note>\n  <subject authority=\"lcsh\">\n    <topic>Materials</topic>\n
        \   <genre>Periodicals</genre>\n  </subject>\n  <subject authority=\"fast\">\n
        \   <topic>Materials</topic>\n  </subject>\n  <classification authority=\"lcc\">TA401
        . S43</classification>\n  <classification authority=\"ddc\" edition=\"21\">620.11</classification>\n
        \ <relatedItem type=\"otherFormat\" otherType=\"Online version:\" displayLabel=\"Online
        version:\">\n    <titleInfo>\n      <title>Science and technology of advanced
        materials (Online)</title>\n    </titleInfo>\n    <identifier type=\"local\">(DLC)
        \ 2006252072</identifier>\n    <identifier type=\"local\">(OCoLC)44189485</identifier>\n
        \ </relatedItem>\n  <identifier type=\"issn\">1468-6996</identifier>\n  <identifier
        type=\"issn-l\">1468-6996</identifier>\n  <identifier type=\"lccn\">00200486</identifier>\n
        \ <identifier type=\"oclc\">ocm45146478</identifier>\n  <identifier type=\"stock
        number\">Elsevier Science Ltd, The Boulevard, Langford Lane, Kidlington, Oxford
        OX5 1GB</identifier>\n  <recordInfo>\n    <descriptionStandard>aacr</descriptionStandard>\n
        \   <recordContentSource authority=\"marcorg\">DLC</recordContentSource>\n
        \   <recordCreationDate encoding=\"marc\">000629</recordCreationDate>\n    <recordChangeDate
        encoding=\"iso8601\">20210827070331.0</recordChangeDate>\n    <recordIdentifier>12085315</recordIdentifier>\n
        \   <recordOrigin>Converted from MARCXML to MODS version 3.6 using MARC21slim2MODS3-6.xsl\n\t\t\t\t(Revision
        1.119 2018/06/21)</recordOrigin>\n    <languageOfCataloging>\n      <languageTerm
        authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n    </languageOfCataloging>\n
        \ </recordInfo>\n</mods></zs:recordData><zs:recordPosition>1</zs:recordPosition></zs:record></zs:records><zs:echoedSearchRetrieveRequest><zs:version>1.1</zs:version><zs:query>bath.lccn=\"^00200486\"</zs:query><zs:maximumRecords>10</zs:maximumRecords><zs:recordPacking>xml</zs:recordPacking><zs:recordSchema>mods</zs:recordSchema></zs:echoedSearchRetrieveRequest></zs:searchRetrieveResponse>\n"
  recorded_at: Mon, 14 Feb 2022 03:17:49 GMT
recorded_with: VCR 6.0.0
