---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=bath.lccn=%22%5E93028401%22&recordSchema=mods&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo>\n    <title>How to lie with statistics</title>\n  </titleInfo>\n
        \ <name type=\"personal\" usage=\"primary\">\n    <namePart>Huff, Darrell.</namePart>\n
        \ </name>\n  <typeOfResource>text</typeOfResource>\n  <originInfo>\n    <place>\n
        \     <placeTerm type=\"code\" authority=\"marccountry\">nyu</placeTerm>\n
        \   </place>\n    <place>\n      <placeTerm type=\"text\">New York</placeTerm>\n
        \   </place>\n    <publisher>Norton</publisher>\n    <dateIssued>1993</dateIssued>\n
        \   <issuance>monographic</issuance>\n  </originInfo>\n  <language>\n    <languageTerm
        authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n  </language>\n
        \ <physicalDescription>\n    <form authority=\"marcform\">print</form>\n    <extent>144
        p. : ill., maps ; 21 cm.</extent>\n  </physicalDescription>\n  <note type=\"statement
        of responsibility\" altRepGroup=\"00\">by Darrell Huff ; illustrated  by Irving
        Geis.</note>\n  <subject authority=\"lcsh\">\n    <topic>Statistics</topic>\n
        \ </subject>\n  <classification authority=\"lcc\">HA29 .H82 1993</classification>\n
        \ <classification authority=\"ddc\" edition=\"20\">519.5</classification>\n
        \ <identifier type=\"isbn\">0393310728</identifier>\n  <identifier type=\"lccn\">93028401</identifier>\n
        \ <recordInfo>\n    <descriptionStandard>aacr</descriptionStandard>\n    <recordContentSource
        authority=\"marcorg\">DLC</recordContentSource>\n    <recordCreationDate encoding=\"marc\">930702</recordCreationDate>\n
        \   <recordChangeDate encoding=\"iso8601\">20150622093215.0</recordChangeDate>\n
        \   <recordIdentifier>2524120</recordIdentifier>\n    <recordOrigin>Converted
        from MARCXML to MODS version 3.6 using MARC21slim2MODS3-6.xsl\n\t\t\t\t(Revision
        1.119 2018/06/21)</recordOrigin>\n  </recordInfo>\n</mods></zs:recordData><zs:recordPosition>1</zs:recordPosition></zs:record></zs:records><zs:echoedSearchRetrieveRequest><zs:version>1.1</zs:version><zs:query>bath.lccn=\"^93028401\"</zs:query><zs:maximumRecords>10</zs:maximumRecords><zs:recordPacking>xml</zs:recordPacking><zs:recordSchema>mods</zs:recordSchema></zs:echoedSearchRetrieveRequest></zs:searchRetrieveResponse>\n"
  recorded_at: Mon, 14 Feb 2022 03:17:54 GMT
recorded_with: VCR 6.0.0
