<div id="content_detail" class="col col-md-9">
  <h1 class="title card-header"><%= t('page.editing', model: t('activerecord.models.search_engine')) -%></h1>
  <div id="content_list" class="card-body">
    <%= render 'form', search_engine: @search_engine %>
  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.show'), @search_engine -%></li>
    <li><%= link_to t('page.back'), search_engines_path -%></li>
  </ul>
</div>
