#content_detail.ui-corner-all.ui-widget-content
  h1.title
    = t('page.showing', model: t('activerecord.models.user_import_file'))
  #content_list
    p#notice
      = notice
    p
      strong
        | Id:
      = @user_import_file.id
    p
      strong
        = t('activerecord.attributes.user_import_file.user_import_file_name')
        | :
      = link_to @user_import_file.user_import_file_name, user_import_file_path(@user_import_file, format: :download) if @user_import_file.user_import_file_name
    p
      strong
        = t('activerecord.attributes.user_import_file.user_import_content_type')
        | :
      = @user_import_file.user_import_content_type
    p
      strong
        = t('activerecord.attributes.user_import_file.user_import_file_size')
        | :
      = @user_import_file.user_import_file_size
    p
      strong
        = t('activerecord.attributes.user_import_file.user_import_fingerprint')
        | :
      = @user_import_file.user_import_fingerprint
    p
      strong
        = t('page.created_at')
        | :
      = l(@user_import_file.created_at) if @user_import_file.created_at
    p
      strong
        = t('activerecord.attributes.user_import_file.executed_at')
        | :
      = l(@user_import_file.executed_at) if @user_import_file.executed_at
    p
      strong
        = t('activerecord.attributes.user_import_file.edit_mode')
        | :
      = @user_import_file.edit_mode
    p
      strong
        = t('activerecord.attributes.user_import_file.user_encoding')
        | :
      = @user_import_file.user_encoding
    p
      strong
        = t('activerecord.attributes.user_import_file.default_user_group_id')
        | :
      = link_to @user_import_file.default_user_group.display_name.localize, @user_import_file.default_user_group if @user_import_file.default_user_group.try(:display_name)
    p
      strong
        = t('activerecord.attributes.user_import_file.default_library_id')
        | :
      = link_to @user_import_file.default_library.display_name.localize, @user_import_file.default_library if @user_import_file.default_library.try(:display_name)
    p
      strong
        = t('activerecord.attributes.user_import_file.state')
        | :
      = localized_state(@user_import_file.current_state)
    p
      strong
        = t('activerecord.attributes.user_import_file.error_message')
        | :
      = @user_import_file.error_message
    p
      strong
        = t('activerecord.models.user')
        | :
      = link_to @user_import_file.user.username, @user_import_file.user.profile if @user_import_file.user.try(:profile)
#submenu.ui-corner-all.ui-widget-content
  = form_for(@user_import_file) do |f|
    ul
      li
        = link_to t('activerecord.models.user_import_result'), user_import_file_user_import_results_path(@user_import_file)
      li
        = back_to_index(flash[:page_info])
      - if current_user.has_role?('Administrator')
        li
          = link_to 'Resque', resque_path
