<h1>Editing shelf import file</h1>

<%= render "form", shelf_import_file: @shelf_import_file %>

<br>

<div>
  <%= link_to "Show this shelf import file", @shelf_import_file %> |
  <%= link_to "Back to shelf import files", shelf_import_files_path %>
</div>
