<div id="content_detail" class="col col-md-9">
  <h1 class="title"><%= t('page.new', model: t('activerecord.models.item_custom_property')) -%></h1>
  <div id="content_list">
    <%= render 'form', item_custom_property: @item_custom_property %>
  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.back'), item_custom_properties_path %></li>
  </ul>
</div>
