<div id="content_detail" class="col col-md-9">
  <h1 class="title card-header"><%= t('page.new', model: t('activerecord.models.agent_relationship')) -%></h1>
  <div id="content_list" class="card-body">
    <%= render 'form', agent_relationship: @agent_relationship %>
  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.back'), agent_relationships_path -%></li>
  </ul>
</div>
