<div class="row-fluid">
  <div class="span9">
    <h1 class="title"><%= t('page.new', :model => t('activerecord.models.series_statement')) -%></h1>
    <%= render 'form' %>
  </div>

  <div class="span3">
    <ul>
      <li><%= link_to t('page.back'), series_statements_path %></li>
    </ul>
  </div>
</div>
