# Override your default settings for the Production environment here.
# 
# Example:
#   configatron.file.storage = :s3
#configatron.uploaded_file.storage = :s3

configatron.amazon.access_key = 'REPLACE_WITH_YOUR_AMAZON_ACCESS_KEY'
configatron.amazon.secret_access_key = 'REPLACE_WITH_YOUR_AMAZON_SECRET_ACCESS_KEY'

#configatron.google.google_maps_api_key = 'REPLACE_WITH_YOUR_GOOGLE_MAPS_API_KEY'
#configatron.thumbalizr.api_key = 'REPLACE_WITH_YOUR_THUMBALIZR_API_KEY'
