<%= form_for(@accept) do |f| %>
  <%= error_messages(@accept) %>

  <div class="form-inputs">
    <%= f.text_field :item_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
