<%= form_for(@accept) do |f| %>
  <%= error_messages(@accept) %>

  <div class="field">
    <%= f.text_field :item_id %>
  </div>

  <div class="actions mt-3">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
