<%= simple_form_for(@accept) do |f| %>
  <%= f.error_messages %>

  <div class="form-inputs">
    <%= f.input :item_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
