<div class="row-fluid">
<div class="span9">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.accept')) -%></h1>
  <%= render 'form' %>
</div>

<div class="span3">
  <ul>
    <li><%= link_to t('page.show'), @accept -%></li>
    <li><%= link_to t('page.back'), accepts_path -%></li>
  </ul>
</div>
</div>
