<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.accept')) -%></h1>
<div id="content_list">

  <div id="accept_list">
    <%= render 'list' -%>
  </div>

</div>
</div>

<div id="submenu" class="ui-corner-all">
</div>
