<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('page.new', model: t('activerecord.models.accept')) -%></h1>
<div id="content_list">
  <div id="accept_list">
    <%= render 'list' -%>
  </div>
</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.listing', model: t('activerecord.models.accept')), accepts_path -%></li>
  </ul>
</div>
