<div id="content_detail" class="col col-md-9">
  <h1 class="title card-header"><%= t('page.new', model: t('activerecord.models.accept')) -%></h1>
  <div id="content_list" class="card-body">
    <div id="accept_list">
      <%= render 'list', accept: @accept -%>
    </div>
  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.listing', model: t('activerecord.models.accept')), accepts_path -%></li>
  </ul>
</div>
