<div id="related">
  <ul>
    <%- @patron.parents.each do |patron_relationship| -%>
      <li>
        [P]
        (<%= patron_relationship.patron_relationship_type.display_name.localize -%>)
        <%= link_to patron_relationship.parent.full_name, patron_relationship.parent -%>
      </li>
    <%- end -%>
    <%- @patron.children.each do |patron_relationship| -%>
      <li>
        [P]
        (<%= patron_relationship.patron_relationship_type.display_name.localize -%>)
        <%= link_to patron_relationship.child.full_name, patron_relationship.child -%>
      </li>
    <%- end -%>
  </ul>
</div>
