<div id="work">
  <%= will_paginate(@works, :param_name => :work_list_page, :class => 'content_pagination digg_pagination') -%>
  <ul>
    <%- @works.each do |work| -%>
      <li>
        [W]
        <%= link_to h(work.original_title), work -%>
        <%= raw patrons_list(work.creators, current_user) -%>
      </li>
    <%- end -%>
  </ul>
  <%= will_paginate(@works, :param_name => :work_list_page, :class => 'content_pagination digg_pagination') -%>
</div>

