<div class="row-fluid">
  <div class="row-fluid">
    <h1 class="title"><%= t('page.new', :model => t('activerecord.models.patron')) -%></h1>
    <%= render 'form' %>
  </div>

  <div class="span3">
    <ul>
      <li><%= link_to t('page.back'), patrons_path -%></li>
    </ul>
  </div>
</div>
