<div class="field">
  <%= f.label t('activerecord.models.user_group_has_checkout_type') %><br />
  <%= f.fields_for :user_group_has_checkout_types do |checkout_form| %>
    <%= render 'user_group_has_checkout_type_fields', f: checkout_form %>
  <% end %>
  <p><%= link_to_add_association t('page.add'), f, :user_group_has_checkout_types %></p>
</div>
