.row
  #submenu.col-md-3
    ul
      li
        = link_to t('page.new', model: t('activerecord.models.user_group')), new_user_group_path
  #content_list.col-md-9
    h1.title
      = t('page.listing', model: t('activerecord.models.user_group'))
    table.table.table-striped.index
      tr
        th#position
        th
          = t('activerecord.attributes.user_group.name')
        th
          = t('activerecord.attributes.user_group.display_name')
          |  / 
          = t('activerecord.attributes.user_group.note')
        th
      - @user_groups.each do |user_group|
        |  <tr class="line
        = cycle("0", "1")
        | "> 
        td
          - if policy(user_group).update?
            = move_position(user_group)
        td
          = user_group.name
        td
          = link_to user_group.display_name.localize, user_group
          br
          = user_group.note
        td
          - if policy(user_group).update?
            = link_to t('page.edit'), edit_user_group_path(user_group)
          - if policy(user_group).destroy?
            = link_to t('page.destroy'), user_group_path(user_group), data: {confirm: t('page.are_you_sure')}, method: :delete
