.row
  #submenu.col-md-3
    ul
      li
        = link_to t('page.edit'), edit_user_group_path(@user_group)
      li
        = back_to_index(flash[:page_info])
      li
        = link_to t('page.new', model: t('activerecord.models.checkout_type')), new_user_group_has_checkout_type_path(user_group_id: @user_group.id)
  #content_list.col-md-9
    h1.title
      = t('page.showing', model: t('activerecord.models.user_group'))
    p#notice
      = notice
    p
      strong
        = t('activerecord.attributes.user_group.name')
        | :
      = @user_group.name
    p
      strong
        = t('activerecord.attributes.user_group.display_name')
        | :
      = @user_group.display_name.localize
    p
      strong
        = t('activerecord.attributes.user_group.valid_period_for_new_user')
        | :
      = @user_group.valid_period_for_new_user
    - if defined?(EnjuCirculation)
      p
        strong
          = t('activerecord.attributes.user_group.number_of_day_to_notify_due_date')
          | :
        = @user_group.number_of_day_to_notify_due_date
      p
        strong
          = t('activerecord.attributes.user_group.number_of_day_to_notify_overdue')
          | :
        = @user_group.number_of_day_to_notify_overdue
      p
        strong
          = t('activerecord.attributes.user_group.number_of_time_to_notify_overdue')
          | :
        = @user_group.number_of_time_to_notify_overdue
      p
        strong
          = t('activerecord.models.checkout_type')
      ul
        - @user_group.user_group_has_checkout_types.each do |available_checkout_type|
          li
            = link_to available_checkout_type.checkout_type.display_name.localize, available_checkout_type.checkout_type
            |  (
            = link_to t('page.number_of_days', count: available_checkout_type.checkout_period), edit_user_group_user_group_has_checkout_type_path(@user_group, available_checkout_type)
            | ) 
    p
      strong
        = t('activerecord.attributes.user_group.note')
        | :
      = @user_group.note
