<div id="content_detail" class="col col-md-9 ui-corner-all">
  <h1 class="title card-header"><%= t('page.editing', model: t('activerecord.models.news_post')) -%></h1>
  <div id="content_list" class="card-body">
    <%= render 'form', news_post: @news_post %>
  </div>
</div>

<div id="submenu" class="col ui-corner-all">
  <ul>
    <li><%= link_to t('page.show'), @news_post -%></li>
    <li><%= link_to t('page.back'), news_posts_path -%></li>
  </ul>
</div>
