---
http_interactions:
- request:
    method: get
    uri: https://ndlsearch.ndl.go.jp/api/sru?maximumRecords=1&onlyBib=true&operation=searchRetrieve&query=(itemno=)&recordSchema=dcndl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Track-Id:
      - '1353904026'
      Etag:
      - '"356744e3e1443185668fa916d15a29ea399f76686b3767b64f0d9eeab2f90f09"'
    body:
      encoding: UTF-8
      string: |-
        <searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/">
          <diagnostics>
            <diagnostic xmlns="http://www.loc.gov/zing/srw/diagnostic/">
              <uri>info:srw/diagnostic/1/1</uri>
              <details>An error occurred</details>
              <message>illegal query syntax</message>
            </diagnostic>
          </diagnostics>
        </searchRetrieveResponse>
  recorded_at: Mon, 13 Jan 2025 05:10:50 GMT
recorded_with: VCR 6.3.1
