---
http_interactions:
- request:
    method: get
    uri: https://ndlsearch.ndl.go.jp/api/sru?maximumRecords=1&onlyBib=true&operation=searchRetrieve&query=(itemno=)&recordSchema=dcndl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Track-Id:
      - '1471945906'
    body:
      encoding: UTF-8
      string: |-
        <searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/">
          <diagnostics>
            <diagnostic xmlns="http://www.loc.gov/zing/srw/diagnostic/">
              <uri>info:srw/diagnostic/1/1</uri>
              <details>An error occurred</details>
              <message>illegal query syntax</message>
            </diagnostic>
          </diagnostics>
        </searchRetrieveResponse>
  recorded_at: Fri, 16 Feb 2024 15:02:57 GMT
recorded_with: VCR 6.2.0
