<div id="content_detail" class="col-md-9">
  <div class="card">
    <h5 class="title card-header"><%= t("page.new", model: t("activerecord.models.item_custom_property")) -%></h5>
    <div id="content_list" class="card-body">
      <%= render "form", manifestation_custom_property: @manifestation_custom_property %>
    </div>
  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t("page.back"), manifestation_custom_properties_path %></li>
  </ul>
</div>
