<div id="iconmenu" class="ui-corner-all">
  <strong><%= t('tooltip.icons_info') -%></strong>
  <ul>
    <li><%= image_tag('icons/delete.png', :size => '16x16', :alt => t('family.tips_remove'), :title => t('family.tips_remove')) -%>:&nbsp;<%=t('family.tips_remove')-%></li>
  </ul>
</div>
