<div class="row-fluid">
<div class="span9">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.language')) -%></h1>
  <%= render 'form' %>
</div>

<div class="span3">
  <ul>
    <li><%= link_to t('page.back'), languages_path -%></li>
  </ul>
</div>
</div>
