<div class="row-fluid">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.medium_of_performance')) -%></h1>
<div class="span9">
  <%= render 'form' %>
</div>

<div class="span3">
  <ul>
    <li><%= link_to t('page.show'), @medium_of_performance -%></li>
    <li><%= link_to t('page.back'), medium_of_performances_path -%></li>
  </ul>
</div>
</div>
