AMAZON_ACCESS_KEY = 'REPLACE_WITH_YOUR_AMAZON_KEY'
AMAZON_SECRET_ACCESS_KEY = 'REPLACE_WITH_YOUR_AMAZON_SECRET_KEY'
GOOGLE_MAPS_API_KEY = 'REPLACE_WITH_YOUR_GOOGLE_MAPS_API_KEY'
GOOGLE_APPLICATION_ID = GOOGLE_MAPS_API_KEY
CALIL_APP_KEY = 'REPLACE_WITH_YOUR_CALIL_APP_KEY'
CALIL_SECRET_KEY = 'REPLACE_WITH_YOUR_CALIL_SECRET_KEY'

TWITTER_CONSUMER_KEY = 'REPLACE_WITH_YOUR_CONSUMER_KEY'
TWITTER_CONSUMER_SECRET = 'REPLACE_WITH_YOUR_CONSUMER_SECRET'
TWITTER_ACCESS_TOKEN = 'REPLACE_WITH_YOUR_TWITTER_ACCESS_TOKEN'
TWITTER_ACCESS_SECRET = 'REPLACE_WITH_YOUR_TWITTER_ACCESS_SECRET'

# Choose a locale from 'ca', 'de', 'fr', 'jp', 'uk', 'us'
#AMAZON_AWS_HOSTNAME = 'ecs.amazonaws.com'
AMAZON_AWS_HOSTNAME = 'ecs.amazonaws.jp'
AMAZON_HOSTNAME = 'www.amazon.co.jp'

WORLDCAT_API_KEY = 'REPLACE_WITH_YOUR_WORLDCAT_API_KEY'
