TWITTER_CONSUMER_KEY = 'REPLACE_WITH_YOUR_CONSUMER_KEY'
TWITTER_CONSUMER_SECRET = 'REPLACE_WITH_YOUR_CONSUMER_SECRET'
TWITTER_ACCESS_TOKEN = 'REPLACE_WITH_YOUR_TWITTER_ACCESS_TOKEN'
TWITTER_ACCESS_SECRET = 'REPLACE_WITH_YOUR_TWITTER_ACCESS_SECRET'

WORLDCAT_API_KEY = 'REPLACE_WITH_YOUR_WORLDCAT_API_KEY'
