<h4><%= t('activerecord.models.patron_type') -%></h4>
<ul>
  <%- patron_types = params[:patron_type].to_s.split -%>
  <%- @search.facet(:patron_type).rows.each do |facet| -%>
    <%- current_patron_type = patron_types.dup -%>
    <%- patron_type = PatronType.where(:name => facet.value).select([:name, :display_name]).first -%>
    <%- if patron_type -%>
      <li><%= patron_type_facet(patron_type, current_patron_type, facet) %></li>
    <%- end -%>
  <%- end -%>
  <%- if params[:patron_type] -%>
    <li><%= link_to t('page.remove_this_facet'), url_for(params.merge(:patron_type => nil, :page => nil, :view => nil)) -%></li>
  <%- end -%>
</ul>
