<div class="field">

  <%= t('activerecord.attributes.resource_import_file.edit_mode') -%>
  <input type="radio" name="extraparams[edit_mode]" value="create"> <%= t('page.create') -%>
  <input type="radio" name="extraparams[edit_mode]" value="update"> <%= t('page.update') -%>
  <input type="radio" name="extraparams[edit_mode]" value="destroy"> <%= t('page.destroy') -%>

</div>

