<h1 class="title"><%= t('page.new', :model => t('activerecord.models.search_history')) -%></h1>

<!--
<%= form_for(:search_history, :url => search_histories_path) do |f| -%>
  <%= f.error_messages -%>

<%- end -%>
-->

<%= link_to t('page.back'), search_histories_path -%>
