<div id="content_detail" class="col col-md-9">
  <h1 class="title"><%= t('page.new', model: t('activerecord.models.create')) -%></h1>
  <div id="content_list">
    <%= render 'form', create: @create %>
  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <%- if @create.agent -%>
      <li><%= link_to t('page.listing', model: t('activerecord.models.work')), manifestations_path(creator_id: @create.agent_id) -%></li>
    <%- end -%>
    <%- if @create.work -%>
      <li><%= link_to t('page.listing', model: t('activerecord.models.agent')), agents_path(work_id: @create.work_id) -%></li>
    <%- end -%>
  </ul>
</div>
