<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.create')) -%></h1>
<div id="content_list">
  <%= render 'form' %>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if @create.patron -%>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.work')), creator_manifestations_path(@create.patron) -%></li>
    <%- end -%>
    <%- if @create.work -%>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.patron')), work_patrons_path(@create.work) -%></li>
    <%- end -%>
  </ul>
</div>
