<div id="content_detail" class="col col-md-9">
  <h1 class="title"><%= t('page.new', model: t('activerecord.models.library')) -%></h1>
  <div id="content_list">
    <%= render 'form', library: @library %>
  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.back'), libraries_path -%></li>
  </ul>
</div>
