<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.access_denied') -%></h1>
  <div id="content_list">
    <%= render 'page/search_form' %>
  </div>
</div>

<div id="submenu" class="ui-corner-all">
</div>
