<p>
  <span>
    <%= link_to t('page.best_reader'), manifestation_exstats_bestreader_path, :class=>'easy_tools_button easy_tools_button_right ui-corner-all' -%>
  </span>
</p>
<p>
  <span>
    <%= link_to t('page.best_request'), manifestation_exstats_bestrequest_path, :class=>'easy_tools_button ui-corner-all' -%>
  </span>
</p>
