<h2><%= t('msie.acceralator', :library_name => h(LibraryGroup.site_config.display_name.localize)) -%></h2>
<%- if request.env["HTTP_USER_AGENT"] =~ /Mozilla\/4.0 \(compatible; MSIE 8.\d/ -%>
  <button onclick="window.external.addService('<%= LibraryGroup.url -%>page/msie_acceralator')"><%= t('msie.install_acceralator') -%></button>
<%- else -%>
  <p><%= t('msie.not_supported') -%></p>
<%- end -%>
