script[type="text/javascript"]
  |  $(document).ready( function () { <ruby code=" if current_user "> restoreOrder(); </ruby> $(".portlet-header .ui-icon").click(function() { $(this).toggleClass("ui-icon-minus"); $(this).toggleClass("ui-icon-plus"); $(this).parents(".portlet:first").find(".portlet-content").toggle(); <ruby code=" if current_user "> <ruby code=" date = 1.week.from_now"></ruby> saveOrder(<ruby code="= date.year"></ruby>, <ruby code="= date.month"></ruby>, <ruby code="= date.day"></ruby>, "<ruby code="= root_path"></ruby>"); // This is important </ruby> }); $(".portlet-header .ui-icon").hover( function() {$(this).addClass("ui-icon-hover"); }, function() {$(this).removeClass('ui-icon-hover'); } ); }); 
