<div id="header_select_locale">
  <%- if request.get? -%>
    <a href="#" id="select_locale_menu">Other languages</a>
    <div id="select_locale">
      <% @available_languages.each do |language| %>
        <% if language.iso_639_1 == I18n.locale.to_s %>
          <strong><%= language.native_name || language.name %></strong>
        <% else %>
          <%= link_to "#{language.native_name || language.name}", url_for(params.merge(:locale => language.iso_639_1)) %>
        <% end %>
      <% end %>
    </div>
  <%- end -%>
</div>
