<div id="content_detail" class="ui-corner-all">
<h1 class="title">About this system</h1>
<div id="content_list">

<ul>
  <li>This integrated library system software "Next-L Enju Leaf" is developed by <a href="http://mwr.mediacom.keio.ac.jp/~tanabe/">Kosuke Tanabe</a> and <a href="http://www.next-l.jp/">Project Next-L</a>.</li>
  <li>Next-L Enju Leaf is released under MIT license. For more information, visit <a href="http://wiki.github.com/nabeta/enju_leaf">our project website</a>.</li>
</ul>

<h2>Contact information</h2>

<ul>
  <li>Kosuke Tanabe: <%= mail_to 'tanabe@mwr.mediacom.keio.ac.jp', nil, :replace_at => '_at_' -%></li>
  <li>Project Next-L: <%= mail_to 'info@next-l.jp', nil, :replace_at => '_at_' -%></li>
</ul>

<h2>Acknowledgment</h2>

<ul>
  <li>This system has been using bibliographic data from the following services and databases.
  <ul>
    <li><a href="http://porta.ndl.go.jp/portal/dt">National Diet Library Digital Archive Portal (PORTA)</a></li>
    <li><a href="http://www.ndl.go.jp/jp/library/data/ndl_ndlsh.html">National Diet Library Subject Headings (NDLSH), 2005 edition</a></li>
  </ul>
  </li>
  <li>This system has been using book jacket images from the following service.
  <ul>
    <li><a href="http://aws.amazon.com/">Amazon Web Services</a></li>
  </ul>
  </li>
  <li>This system has been using screenshots of websites from the following services.
  <ul>
    <li><a href="http://mozshot.nemui.org/">Mozshot</a></li>
    <li><a href="http://www.thumbalizr.com/">thumbalizr</a></li>
  </ul>
  </li>
  <li>The icons on this system are produced by <a href="http://www.famfamfam.com/lab/icons/">famfamfam.com</a>.</li>
</ul>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><a href="http://www.next-l.jp/">Project Next-L</a></li>
    <li><a href="http://wiki.github.com/nabeta/enju_leaf">this project on GitHub</a></li>
    <li><a href="http://next-l.slis.keio.ac.jp/wiki/wiki.cgi?page=%A5%E1%A1%BC%A5%EA%A5%F3%A5%B0%A5%EA%A5%B9%A5%C8">Mailing list</a> (in Japanese)</li>
  </ul>
</div>
