<div id="content_detail" class="ui-corner-all">
<h1 class="title">About this system</h1>
<div id="content_list">

<h3>Next-L Enju Leaf (Public Library Extension)</h3>
Next-L Enju Leaf is an integrated library system developed by Project Next-L. Public Library Extension is developed by Mitsubishi Research Institute, Inc. and Mirait Information Corporation.
<br /><br />

<h3>What is Project Next-L?</h3>
Project Next-L is a project to build a new integrated library system maintained by Japanese volunteers interested in libraries. Mitsubishi Research Institute, Inc. and Mirait Information Corporation endorses this project.
<br /><br />

<h3>Authors and contributors</h3>
<ul>
  <li><a href="http://mwr.mediacom.keio.ac.jp/~tanabe/">TANABE, Kosuke</a></li>
  <li><a href="http://www.next-l.jp/">Project Next-L</a></li>
  <li><a href="http://www.mri.co.jp/">Mitsubishi Research Institute, Inc.</a></li>
  <li><a href="http://www.miraitsystems.jp/">Mirait Information Systems Corporation</a></li>
  <li>NAKAMURA, Akifumi</li>
  <li>TAMIYA, Emiko</li>
  <li>SHINOZUKA, Reiko</li>
</ul>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><a href="http://www.next-l.jp/">Project Next-L</a></li>
    <li><a href="https://github.com/nakamura-akifumi/enju_trunk/wiki">GitHubでのプロジェクトのページ</a></li>
  </ul>
</div>
