<div id="content_detail" class="ui-corner-all">
<h1 class="title">このシステムについて</h1>
<div id="content_list">

<h3>Next-L Enju Leaf公共図書館拡張版</h3>
Next-L Enju Leaf は、Project Next-L で開発している図書館管理システムです。公共図書館拡張版は、株式会社三菱総合研究所と株式会社オープンテクノロジーズによって、公共図書館向けに機能強化したものです。
<br /><br />

<h3>Project Next-L とは</h3>
管理システムを作り上げるプロジェクトです。株式会社三菱総合研究所と株式会社オープンテクノロジーズは本プロジェクトを支援します。
<br /><br />

<h3>製作者・貢献者</h3>
<ul>
  <li><a href="http://mwr.mediacom.keio.ac.jp/~tanabe/">TANABE, Kosuke</a></li>
  <li>NAKAMURA, AKIFUMI</li>
  <li>TAMIYA, EMIKO</li>
  <li>SHINOZUKA, REIKO</li>
  <li><a href="http://www.next-l.jp/">Project Next-L</a></li>
  <li><a href="http://www.mri.co.jp/">Mitsubishi Research Institute, Inc.</a></li>
  <li><a href="http://www.opentech.co.jp/">Open Technologies Corporation</a></li>
</ul>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><a href="http://www.next-l.jp/">Project Next-L</a></li>
    <li><a href="https://github.com/nakamura-akifumi/enju_trunk/wiki">GitHubでのプロジェクトのページ</a></li>
  </ul>
</div>
