<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.add_on') -%></h1>
<div id="content_list">

  <%= msie_acceralator -%>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
  </ul>
</div>
