.row
  #submenu.col-md-3
    .panel.panel-default
      .panel-body
  #content_list.col-md-9
    .panel.panel-default
      .panel-heading
        = t('page.import_from_file')
      .panel-body
        ul
          li
            = link_to t('activerecord.models.user'), user_import_files_path
          li
            = link_to t('page.manifestation_and_item'), resource_import_files_path
          li
            = link_to t('activerecord.models.event'), event_import_files_path
