<div class="row-fluid">
  <div class="span9">
    <h1 class="title"><%= t('page.editing', :model => t('activerecord.models.answer')) -%></h1>
    <%= render 'form' %>
  </div>

  <div class="span3">
    <ul>
      <li><%= link_to t('page.show'), @answer -%></li>
      <li><%= link_to t('page.back'), question_answers_path(@answer.question) -%></li>
    </ul>
  </div>
</div>
