<div id="content_detail" class="ui-corner-all ui-widget-content">
  <h1 class="title"><%= t('page.new', model: t('activerecord.models.manifestation_relationship_type')) -%></h1>
  <div id="content_list">
    <%= render 'form', manifestation_relationship_type: @manifestation_relationship_type %>
  </div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.back'), manifestation_relationship_types_path -%></li>
  </ul>
</div>
