<div id="content_detail" class="ui-corner-all ui-widget-content">
  <h1 class="title"><%= t('page.new', model: t('activerecord.models.withdraw')) -%></h1>
  <div id="content_list">
    <div id="withdraw_list">
      <%= render 'list', withdraw: @withdraw -%>
    </div>
  </div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.listing', model: t('activerecord.models.withdraw')), withdraws_path -%></li>
    <li><%= link_to t('page.listing', model: t('activerecord.attributes.withdraw.removed_items', status: CirculationStatus.where(name: 'Removed').first.display_name.localize) + t('activerecord.models.item')), items_path(circulation_status: 'Removed')  -%></li>
  </ul>
</div>
