---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=bath.lccn=%22%5E2013385616%22&recordSchema=mods&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo altRepGroup=\"01\" script=\"Latn\">\n    <title>Entotsu no mieru
        basho</title>\n  </titleInfo>\n  <titleInfo type=\"alternative\" altRepGroup=\"15\"
        script=\"Latn\">\n    <title>Mujaki na hitobito</title>\n  </titleInfo>\n
        \ <name type=\"personal\" altRepGroup=\"06\" script=\"Latn\">\n    <namePart>Gosho,
        Heinosuke</namePart>\n    <namePart type=\"date\">1902-1981</namePart>\n  </name>\n
        \ <name type=\"personal\" altRepGroup=\"07\" script=\"Latn\">\n    <namePart>Oguni,
        Hideo</namePart>\n    <namePart type=\"date\">1904-1996</namePart>\n  </name>\n
        \ <name type=\"personal\" altRepGroup=\"08\" script=\"Latn\">\n    <namePart>Akutagawa,
        Yasushi</namePart>\n    <namePart type=\"date\">1925-1989</namePart>\n  </name>\n
        \ <name type=\"personal\" a[...]
