<div class="row-fluid">
<div class="span9">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.lending_policy')) -%></h1>
  <%= render 'form' %>
</div>

<div class="span3">
  <ul>
    <li><%= link_to t('page.show'), @lending_policy -%></li>
    <li><%= link_to t('page.back'), lending_policies_path -%></li>
  </ul>
</div>
</div>
