<div id="content_detail" class="col col-md-9">
  <h1 class="title card-header"><%= t('page.new', model: t('activerecord.models.agent_merge_list')) -%></h1>
  <div id="content_list" class="card-body">
    <%= render 'form', agent_merge_list: @agent_merge_list %>
  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.back'), :back -%></li>
  </ul>
</div>
