<%- if policy(manifestation).show? -%>
  <tr>
    <td><%= t('manifestation.attachment_file') -%>:</td>
    <td><%= link_to manifestation.attachment.filename, rails_blob_path(manifestation.attachment) -%></td>
  </tr>
<%- end -%>
