<%- if can? :show, @manifestation -%>
  <tr>
    <td><%= t('manifestation.attachment_file') -%>:</td>
    <td><%= link_to @manifestation.attachment_file_name, @manifestation.attachment.url -%></td>
  </tr>
<%- end -%>
