<%= render 'manifestations/colorbox' %>

<div id="manifestation_book_jacket">
  <%- if manifestation and defined?(EnjuManifestationViewer) -%>
    <%= book_jacket(manifestation) -%>
  <%- end -%>
</div>
