<div class="nested-fields">
  <%= f.hidden_field :agent_id %>
  <%= f.text_field :full_name, class: 'creator_full_name form-control' %>
  <%= link_to_remove_association t('page.remove'), f, data: {confirm: t('page.are_you_sure')} %><br />
</div>
