<div id='google_book_search_content'>
  <script type="text/javascript">
    GBS_setLanguage('<%= I18n.default_locale -%>');
    GBS_insertEmbeddedViewer('ISBN:<%= isbn -%>',642,600);
  </script>
</div>
