<tr>
  <td style="width: 200px"><%= 'IIIF viewer' %>:</td>
  <td style="width: 500px">
    <%= link_to 'Open in IIIF Viewer', iiif_presentation_path(manifestation), target: '_blank' %>
  </td>
</tr>

