<h4><%= t('activerecord.models.library') -%></h4>
<ul>
  <%- librarys = params[:library].to_s.split -%>
  <%- current_librarys = librarys.dup -%>
  <%- @library_facet.each do |facet| -%>
    <%- library = Library.first(:conditions => {:name => facet.value}) -%>
    <%- if library -%>
      <li>
      <%= library_facet(library, current_librarys, facet) %>
      </li>
    <%- end -%>
  <%- end -%>
  <%- if params[:library] -%>
    <li><%= link_to t('page.remove_this_facet'), url_for(params.merge(:library => nil, :page => nil, :view => nil)) -%></li>
  <%- end -%>
</ul>
