<h4><%= t('activerecord.models.library') -%></h4>
<ul>
  <%- libraries = params[:library].to_s.split -%>
  <%- @library_facet.each do |facet| -%>
    <%- current_libraries = libraries.dup -%>
    <li>
      <%- library = Library.first(:conditions => {:name => facet.value}) -%>
      <%- if current_libraries.include?(library.name) -%><strong><%- end -%>
      <%= link_to h("#{library.display_name.localize} (" + facet.count.to_s + ")"), url_for(params.merge(:page => nil, :library => (current_libraries << library.name).uniq.join(' '), :view => nil)) -%>
      <%- if current_libraries.include?(library.name) -%></strong><%- end -%>
    </li>
  <%- end -%>
  <%- if params[:library] -%>
    <li><%= link_to t('page.remove_this_facet'), url_for(params.merge(:library => nil, :page => nil, :view => nil)) -%></li>
  <%- end -%>
</ul>
