<h4 class="facet-header"><%= t('activerecord.models.library') -%></h4>
<ul>
  <%- libraries = params[:library].to_s.split -%>
  <%- @library_facet.each do |facet| -%>
    <%- current_libraries = libraries.dup -%>
    <%= library_facet(current_libraries, facet) %>
  <%- end -%>
  <%- if params[:library] -%>
    <li><%= link_to t('page.remove_this_facet'), url_for(request.params.merge(library: nil, page: nil, view: nil, only_path: true)) -%></li>
  <%- end -%>
</ul>
