<div class="nested-fields">
  <%#= f.hidden_field :manifestation_id %>
  <%= f.text_field :body %>
  <%= link_to_remove_association t('page.remove'), f, data: {confirm: t('page.are_you_sure')} %><br />
</div>
