<tr>
  <td style="width: 200px"><%= t('page.video') -%>:</td>
  <td style="width: 500px">a
    <script type="application/javascript" src="https://embed.nicovideo.jp/watch/<%= manifestation.nicovideo_id %>/script?w=480&h=320"></script><noscript><a href="https://www.nicovideo.jp/watch/<%= manifestation.nicovideo_id %>"><%= manifestation.original_title %></a></noscript>
  </td>
</tr>
