<div id="question">
  <div id="question_list">
    <ul>
      <% @questions.each do |question| %>
        <li>
          <%= link_to question.body, question %>
          (<%= t('page.last_updated') %>: <%=l question.updated_at %>)
        </li>
      <% end %>
    </ul>
    <%= paginate(@questions, param_name: :question_page, remote: true) -%>
  </div>
</div>
