<div id="tag_cloud">
  <h3 class="resource_title"><%= t('activerecord.models.tag') -%></h3>
  <div id="tag_cloud_list"></div>
  <%= image_tag 'spinner.gif', id: 'spinner_tag_cloud',
    style: 'padding-bottom: 15px; padding-left: 40px;' -%>
</div>

<script type="text/javascript">
  window.onload = function() {
    $("#tag_cloud_list").load('<%= url_for(request.params.merge(view: "tag_cloud", only_path: true)) -%>', hideTagCloudSpinner);
  }

  function hideTagCloudSpinner(){
    $("#spinner_tag_cloud").hide();
  }
</script>
