<ul>
  <% manifestation.series_statements.each do |series_statement| %>
    <li>
      <% if series_statement.manifestation and manifestation.series_master? %>
        <%= link_to series_statement.original_title, series_statement.manifestation %>
      <% else %>
        <%= series_statement.original_title %>
      <% end %>
      <%= series_statement.volume_number_string %>
    </li>
  <% end %>
</ul>
