  <ul>
    <% if can? :create, Manifestation %>
      <li><%= link_to t('page.new', :model => t('activerecord.models.manifestation')), new_series_statement_manifestation_path(@series_statement) %></li>
    <% end %>
    <% if can? :update, @series_statement %>
      <li><%= link_to t('page.edit'), edit_series_statement_path(@series_statement) %></li>
      <li><%= link_to t('page.add_child'), series_statements_path(:parent_id => @series_statement.id) %></li>
    <% end %>
  </ul>
