<h4><%= t('activerecord.models.subject') -%></h4>
<%- unless @subject_facet.blank? -%>
<ul>
  <%- @subject_facet[0..19].each do |facet| -%>
    <%- subject = Subject.where(:id => facet.value).first -%>
    <%- if subject -%>
      <li>
        <%= link_to "#{subject.term} (#{facet.count})", url_for(params.merge(:page => nil, :subject => subject.term, :view => nil, :only_path => true)) -%>
      </li>
    <%- end -%>
  <%- end -%>
  <%- if @subject_by_term -%>
    <li><%= link_to t('page.remove_this_facet'), url_for(params.merge(:subject => nil, :page => nil, :view => nil, :only_path => true)) -%></li>
  <%- end -%>
</ul>
<%- else -%>
  <p><%= t('page.no_subject') -%></p>
<%- end -%>
