<tr>
  <td style="width: 200px"><%= t('page.video') -%>:</td>
  <td style="width: 500px">
    <iframe width="425" height="355" src="https://www.youtube.com/embed/<%= manifestation.youtube_id %>?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  </td>
</tr>
