<div id="content_detail" class="col col-md-9">
<h1 class="title card-header"><%= t('page.new', model: t('activerecord.models.manifestation')) -%></h1>
<div id="content_list" class="card-body">
  <%= render 'manifestations/form' %>
</div>
</div>

<div id="submenu" class="col">
  <ul>
    <%- if @agent -%>
      <li><%= link_to t('page.back'), publisher_manifestations_path(@agent) -%></li>
    <%- else -%>
      <li><%= link_to t('page.back'), manifestations_path -%></li>
    <%- end -%>
  </ul>
</div>
