<div class="row-fluid">
  <div class="span9">
<h1>Editing permission</h1>

<%= render 'form' %>

  </div>

  <div class="span3">
    <ul>
      <li><%= link_to 'Show', @permission %></li>
      <li><%= link_to 'Back', permissions_path %></li>
    </ul>
  </div>
</div>
