<%# Link to the "Last" page
  - available local variables
    url:           url to the last page
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% if current_page.last? %>
<li class="last next mobile_pagination ui-block-c"><%# "next" class present for border styling in twitter bootstrap %>
  <%= raw(t 'views.pagination.last') %>
</li>
<% end %>
