<div id="content_detail" class="col-md-9">
  <div class="card">
    <h5 class="title card-header"><%= t("page.new", model: t("activerecord.models.event_export_file")) -%></h5>
    <div id="content_list" class="card-body">

      <p><%= t("export.are_you_sure_to_export") %></p>

      <%= render "form", event_export_file: @event_export_file %>

    </div>
  </div>
</div>

<div id="submenu" class="col">
  <div class="card">
    <ul>
      <li><%= link_to t("page.listing", model: t("activerecord.models.event_export_file")),
        event_export_files_path -%></li>
    </ul>
  </div>
</div>
