<div id="work">
<h2 class="resource_title"><%= t('page.listing', :model => t('activerecord.models.work')) -%></h2>
<table class="index">
<%- @works.each do |work| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      [W]
      <%= render 'manifestations/show_index', :manifestation => work -%>
    </td>
  </tr>
<%- end -%>
</table>

<%= paginate(@works, :param_name => :work_page, :remote => true) -%>
</div>
