---
http_interactions:
- request:
    method: get
    uri: https://ndlsearch.ndl.go.jp/api/sru?onlyBib=true&operation=searchRetrieve&query=isbn=9780007264551&recordSchema=dcndl&version=1.2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Track-Id:
      - '732532435'
      Etag:
      - '"0b48a69c31db7ebf12f51c41ba6b042687ef9afcf124fc5561e4baafd809c373"'
    body:
      encoding: UTF-8
      string: |-
        <searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/">
          <diagnostics>
            <diagnostic xmlns="http://www.loc.gov/zing/srw/diagnostic/">
              <uri>info:srw/diagnostic/1/1</uri>
              <details>An error occurred</details>
              <message>Record does not exist</message>
            </diagnostic>
          </diagnostics>
        </searchRetrieveResponse>
  recorded_at: Mon, 13 Jan 2025 05:18:02 GMT
recorded_with: VCR 6.3.1
