---
http_interactions:
- request:
    method: get
    uri: https://ndlsearch.ndl.go.jp/api/sru?onlyBib=true&operation=searchRetrieve&query=isbn=9780007264551&recordSchema=dcndl&version=1.2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Track-Id:
      - '1495833057'
    body:
      encoding: UTF-8
      string: |-
        <searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/">
          <diagnostics>
            <diagnostic xmlns="http://www.loc.gov/zing/srw/diagnostic/">
              <uri>info:srw/diagnostic/1/1</uri>
              <details>An error occurred</details>
              <message>Record does not exist</message>
            </diagnostic>
          </diagnostics>
        </searchRetrieveResponse>
  recorded_at: Sun, 04 Feb 2024 15:37:34 GMT
recorded_with: VCR 6.2.0
