---
http_interactions:
- request:
    method: get
    uri: https://ci.nii.ac.jp/books/opensearch/search?count=10&format=rss&p=1&q=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/rss+xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?><rdf:RDF xml:lang="ja" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:prism="http://prismstandard.org/namespaces/basic/2.0/" xmlns:cinii="http://ci.nii.ac.jp/ns/1.0/" xmlns="http://purl.org/rss/1.0/">
        <channel rdf:about="https://ci.nii.ac.jp/books/opensearch/search?p=1&amp;q=test&amp;count=10&amp;format=rss">
        <title>CiNii Books OpenSearch - 1 test 10</title>
        <description>CiNii Books OpenSearch - 1 test 10</description>
        <link>https://ci.nii.ac.jp/books/opensearch/search?p=1&amp;q=test&amp;count=10&amp;format=rss</link>
        <dc:date>2022-02-05T17:15:22+09:00</dc:date>
        <opensearch:totalResults>31923</opensearch:totalResults>
        <opensearch:startIndex>0</opensearch:startIndex>
        <opensearch:itemsPerPage>10</opensearch:itemsPerPage>
        <items>
        <rdf:Seq>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/BA73037253"/>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/BA25648121"/>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/BA14163018"/>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/BA04846659"/>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/AA00203637"/>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/BA02976245"/>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/AA11170085"/>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/BA76205081"/>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/BA06846219"/>
        <rdf:li rdf:resource="https://ci.nii.ac.jp/ncid/BA41795240"/>
        </rdf:Seq>
        </items>
        </channel>
        <item rdf:about="https://ci.nii.ac.jp/ncid/BA73037253">
        <title>Catalog of cooperative tests</title>
        <link>https://ci.nii.ac.jp/ncid/BA73037253</link>
        <rdfs:seeAlso rdf:resource="https://ci.nii.ac.jp/ncid/BA73037253.rdf"/>
        <dc:creator/>
        <dc:publisher>Cooperative Test Division, Educational Testing Service</dc:publisher>
        <prism:publicationDate>1953</prism:publicationDate>
        <dc:date>1953</dc:date>
        <cinii:ownerCount>1</cinii:ownerCount>
        </item>
        <item rdf:about="https://ci.nii.ac.jp/ncid/BA25648121">
        <title>Achievement tests and measurement devices</title>
        <link>https://ci.nii.ac.jp/ncid/BA25648121</link>
        <rdfs:seeAlso rdf:resource="https://ci.nii.ac.jp/ncid/BA25648121.rdf"/>
        <dc:creator>compiled by Test Collection, Educational Testing Service</dc:creator>
        <dc:publisher>Oryx Press</dc:publisher>
        <prism:publicationDate>1986</prism:publicationDate>
        <dc:date>1986</dc:date>
        <dcterms:isPartOf rdf:resource="https://ci.nii.ac.jp/ncid/BA14163266" dc:title="The ETS Test Collection catalog, v.1"/>
        <dcterms:hasPart rdf:resource="urn:isbn:0897742486"/>
        <cinii:ownerCount>2</cinii:ownerCount>
        </item>
        <item rdf:about="https://ci.nii.ac.jp/ncid/BA14163018">
        <title>Affective measures and personality tests</title>
        <link>https://ci.nii.ac.jp/ncid/BA14163018</link>
        <rdfs:seeAlso rdf:resource="https://ci.nii.ac.jp/ncid/BA14163018.rdf"/>
        <dc:creator>compiled by Test Collection, Educational Testing Service</dc:creator>
        <dc:publisher>Oryx Press</dc:publish[...]
