<div id="content_detail" class="ui-corner-all ui-widget-content">
  <h1 class="title"><%= t('page.new', model: t('activerecord.models.role')) -%></h1>
  <div id="content_list">
    <%= render 'form', role: @role %>
  </div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.back'), roles_path -%></li>
  </ul>
</div>
