<div id="content_detail" class="col col-md-9">
  <h1 class="title"><%= t('page.new', model: t('activerecord.models.item')) -%></h1>
  <div id="content_list">
    <%= render 'form', item: @item %>
  </div>
</div>

<div id="submenu" class="col">
  <%- if @manifestation -%>
    <%= render 'manifestations/book_jacket', manifestation: @manifestation -%>
  <%- end -%>

  <ul>
    <li><%= link_to t('page.back'), :back %></li>
  </ul>
</div>
