<div id="content_detail" class="col col-md-9">
  <h1 class="title"><%= t('page.editing', model: t('activerecord.models.budget_type')) -%></h1>
  <div id="content_list">
    <%= render 'form', budget_type: @budget_type %>
  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.show'), @budget_type -%></li>
    <li><%= link_to t('page.back'), budget_types_path -%></li>
  </ul>
</div>
