<div id="content_detail" class="col-md-9">
  <div class="card">
    <h5 class="title card-header"><%= t("page.new", model: t("activerecord.models.manifestation_checkout_stat")) -%></h5>
    <div id="content_list" class="card-body">
      <%= render "form", manifestation_checkout_stat: @manifestation_checkout_stat %>
    </div>
  </div>
</div>

<div id="submenu" class="col">
  <div class="card">
    <ul>
      <li><%= link_to t("page.back"), manifestation_checkout_stats_path -%></li>
    </ul>
  </div>
</div>
