<div id="content_detail" class="ui-corner-all ui-widget-content">
  <h1 class="title"><%= t('page.new', model: t('activerecord.models.manifestation_checkout_stat')) -%></h1>
  <div id="content_list">
    <%= render 'form', manifestation_checkout_stat: @manifestation_checkout_stat %>
  </div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.back'), manifestation_checkout_stats_path -%></li>
  </ul>
</div>
