---
http_interactions:
- request:
    method: get
    uri: http://lx2.loc.gov:210/LCDB?maximumRecords=10&operation=searchRetrieve&query=library&recordSchema=mods&startRecord=11&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<zs:searchRetrieveResponse xmlns:zs=\"http://www.loc.gov/zing/srw/\"><zs:version>1.1</zs:version><zs:numberOfRecords>10000</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo>\n    <title/>\n    <subTitle/>\n  </titleInfo>\n  <typeOfResource>text</typeOfResource>\n
        \ <genre authority=\"rdacontent\">text</genre>\n  <originInfo>\n    <place>\n
        \     <placeTerm type=\"code\" authority=\"marccountry\">ii</placeTerm>\n
        \   </place>\n    <dateIssued encoding=\"marc\">2013</dateIssued>\n    <issuance>monographic</issuance>\n
        \ </originInfo>\n  <originInfo eventType=\"publication\">\n    <place>\n      <placeTerm
        type=\"text\">New Delhi :</placeTerm>\n    </place>\n    <publisher>,</publisher>\n
        \   <dateIssued>2013.</dateIssued>\n  </originInfo>\n  <language>\n    <languageTerm
        authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n  </language>\n
        \ <physicalDescription>\n    <form authority=\"marcform\">print</form>\n    <extent>pages</extent>\n
        \   <form type=\"media\" authority=\"rdamedia\">unmediated</form>\n    <form
        type=\"carrier\" authority=\"rdacarrier\">volume</form>\n  </physicalDescription>\n
        \ <note type=\"statement of responsibility\" altRepGroup=\"00\">.</note>\n
        \ <identifier type=\"lccn\"/>\n  <identifier type=\"stock number\">Library
        of Congress -- New Delhi Overseas Office</identifier>\n  <recordInfo>\n    <descriptionStandard>rda</descriptionStandard>\n
        \   <recordContentSource authority=\"marcorg\">DLC</recordContentSource>\n
        \   <recordCreationDate encoding=\"marc\">160104</recordCreationDate>\n    <recordChangeDate
        encoding=\"iso8601\">20160104054453.0</recordChangeDate>\n    <recordIdentifier>18924045</recordIdentifier>\n
        \   <recordOrigin>Converted from MARCXML to MODS version 3.6 using MARC21slim2MODS3-6.xsl\n\t\t\t\t(Revision
        1.119 2018/06/21)</recordOrigin>\n    <languageOfCataloging>\n      <languageTerm
        authority=\"iso639-2b\" type=\"code\">eng</languageTerm>\n    </languageOfCataloging>\n
        \ </recordInfo>\n</mods></zs:recordData><zs:recordPosition>11</zs:recordPosition></zs:record><zs:record><zs:recordSchema>mods</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://www.loc.gov/mods/v3\"
        version=\"3.6\" xsi:schemaLocation=\"http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd\">\n
        \ <titleInfo>\n    <title># 13 American Red Cross ambulance</title>\n  </titleInfo>\n
        \ <typeOfResource>still image</typeOfResource>\n  <genre authority=\"marcgt\">graphic</genre>\n
        \ <genre authority=\"gmgpc\">Glass negatives.</genre>\n  <originInfo>\n    <place>\n
        \     <placeTerm type=\"code\" authority=\"marccountry\">xxu</placeTerm>\n
        \   </place>\n    <dateIssued>[between 1910 and 1935]</dateIssued>\n    <dateIssued
        encoding=\"marc\" point=\"start\" qualifier=\"questionable\"[...]
