/*
 *= require html5-doctor-reset-stylesheet.min
 *= require scaffold_modified
 *= require enju
 *= require colorbox
 *= require pagination
 *= require jquery.powertip
 *= require jquery.ui.button
 *= require jquery.ui.tabs
 *= require jquery.ui.menu
 *= require jquery.ui.datepicker
 *= require jquery.ui.menubar
 *= require jquery.ui.autocomplete
 *= require portlets
*/
