/*
 *= require colorbox
 *= require pagination
 *= require enju_event/application
 *= require mirador
*/

#select_locale{
  display: none;
  z-index: 1;
  position: absolute;
  background-color: white;
  padding: 10px;
  max-width: 250px;
}
