<div class="row-fluid">
<div class="span9">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.user_reserve_stat')) -%></h1>
  <%= render 'form' %>
</div>

<div class="span3">
  <ul>
    <li><%= link_to t('page.show'), @user_reserve_stat -%></li>
    <li><%= link_to t('page.back'), user_reserve_stats_path -%></li>
  </ul>
</div>
</div>
