<div id="content_detail" class="col-md-9">
  <div class="card">
    <h5 class="title card-header"><%= t("page.editing", model: t("activerecord.models.produce_type")) -%></h5>
    <div id="content_list" class="card-body">
      <%= render "form", produce_type: @produce_type %>
    </div>
  </div>
</div>

<div id="submenu" class="col">
  <div class="card">
    <ul>
      <li><%= link_to t("page.show"), @produce_type -%></li>
      <li><%= link_to t("page.back"), produce_types_path -%></li>
    </ul>
  </div>
</div>
