<div id="content_detail" class="col-md-9">
  <div class="card">
    <h5 class="title card-header"><%= t("page.new", model: t("activerecord.models.use_restriction")) -%></h5>
    <div id="content_list" class="card-body">
      <%= render "form", use_restriction: @use_restriction %>
    </div>
  </div>
</div>

<div id="submenu" class="col">
  <div class="card">
    <ul>
      <li><%= link_to t("page.back"), use_restrictions_path -%></li>
    </ul>
  </div>
</div>
