<div id="content_detail" class="col col-md-9">
  <h1 class="title card-header"><%= t('page.new', model: t('activerecord.models.produce')) -%></h1>
    <%= render 'form', produce: @produce %>
  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <%- if @produce.agent -%>
      <li><%= link_to t('page.listing', model: t('activerecord.models.agent')), manifestations_path(publisher_id: @produce.agent_id) -%></li>
    <%- end -%>
    <%- if @produce.manifestation -%>
      <li><%= link_to t('page.listing', model: t('activerecord.models.manifestation')), agents_path(manifestation_id: @produce.manifestation_id) -%></li>
    <%- end -%>
  </ul>
</div>
