<div id="content_detail" class="col col-md-9">
  <h1 class="title card-header"><%= t('page.new', model: t('activerecord.models.manifestation_reserve_stat')) -%></h1>
  <div id="content_list" class="card-body">
    <%= render 'form', manifestation_reserve_stat: @manifestation_reserve_stat %>
  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.back'), manifestation_reserve_stats_path -%></li>
  </ul>
</div>
