<script>
  $(document).ready(function(){
    // for checked box
    var $tgt_parent = $("input.check-parent");
    var $tgt_child = $("input.check-child");

    // change parents_checkbox
    $tgt_parent.click(function(){
      $(this).parents("div.parent").find('input.check-child').attr('checked', this.checked);

      //count list_size      
      get_list_size();
    });

    // change child_checkbox
    $tgt_child.click(function(){
      var checkNum = $(this).parents("div.parent").find('input.check-child:checked').length;
      var listNum = $(this).parents("div.parent").find('input.check-child').length;

      if(checkNum < listNum)
        $(this).parents("div.parent").find("input.check-parent").attr('checked', false);
      if(checkNum == listNum)
        $(this).parents("div.parent").find("input.check-parent").attr('checked', true);

      //count list_size      
      get_list_size();
    });

  });
  
  function get_list_size() {
    var budgets = new Array;
    var libraries = new Array;
    var bookstores = new Array; 
    $("input#budget_:checked").map(function() { budgets.push($(this).val()); });
    $("input#library_:checked").map(function() { libraries.push($(this).val()); });
    $("input#bookstore_:checked").map(function() { bookstores.push($(this).val()); });
    var term_from = new Array;
    var term_to = new Array;    
    term_from.push($("#expense_term_from_1i").val()).push($("#expense_term_from_2i").val()).push($("#expense_term_from_3i").val());
    term_from.push($("#expense_term_to_1i").val()).push($("#expense_term_to_2i").val()).push($("#expense_term_to_3i").val());

    $.ajax({
      type: "GET",
      url: "<%= url_for(:controller => :expenses, :action => :get_list_size)-%>",
      data: {"budgets": budgets, "libraries": libraries, "bookstores": bookstores, "term_from": term_from, "term_to": term_to},
      success: function(obj) {
        $('span#list_size').html(obj["list_size"]);
        $('span#page_size').html(obj["page"]);
      }
    });
  }
</script>
<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.output', :model => t('activerecord.models.expense')) -%></h1>
<div id="content_list">
<div id="message" style="color: green"><%= raw flash[:message] -%></div>
<%= form_for(:expense, :url => {:controller => 'expenses', :action => :download_file}, :html => {:multipart => true, :method => :get}) do |f| -%>
  <div class="field">
    <%= label :list_condition, t('activerecord.attributes.item_list.list_condition') -%>:<br />
    <div id="budget_type" class="parent">
      <%= check_box_tag "all_budgets", true, @selected_budget.size == @budgets.size ? true : false, :class=>'check-parent' -%><%= t('budget.all_budgets') -%><br />
      <%- @budgets.each do |budget| -%>
        &nbsp;&nbsp;<%= check_box_tag 'budget[]', budget.id, (@selected_budget.index(budget.id.to_s) != nil or @selected_budget.index(budget.id))? true : false, :class=>'check-child' -%><%= budget.library.display_name.localize -%>&nbsp;<%= budget.term.display_name.localize -%>
                    <%- unless budget.note.nil? -%>(<%= budget.note -%>)<%- end -%><br />
      <%- end -%>
    </div>
    <div id="budget_library" class="parent">
      <%= check_box_tag "all_libraries", true, @selected_library.size == @libraries.size ? true : false, :class=>'check-parent' -%><%= t('budget.all_libraries') -%><br />
        <%- @libraries.each do |library| -%>
          &nbsp;&nbsp;<%= check_box_tag "library[]", library.id, (@selected_library.index(library.id.to_s) != nil or @selected_library.index(library.id))? true : false, :class=>'check-child' -%><%= library.display_name -%><br />
        <%- end -%>
    </div>
    <div id="budget_bookstore" class="parent">
      <%= check_box_tag "all_bookstores", true, @selected_bookstore.size == @bookstores.size ? true : false, :class=>'check-parent' -%><%= t('budget.all_bookstores') -%><br />
      <%- @bookstores.each do |bookstore| -%>
        &nbsp;&nbsp;<%= check_box_tag "bookstore[]", bookstore.id, (@selected_bookstore.index(bookstore.id.to_s) != nil or @selected_bookstore.index(bookstore.id))? true : false, :class=>'check-child' -%><%= bookstore.name -%><br />
      <%- end -%>
    </div>
    <br style="clear: both;" />
  </div>
  <div>
     <%= label :list_condition, t('expense.term') -%>:<br />
     <%= f.date_select :term_from, :include_blank => true -%>&nbsp;-&nbsp;<%= f.date_select :term_to, :include_blank => true-%>
  </div>

  <div>
    <p>
      <strong><%= t('budget.list_number') -%>: </strong><span id="list_size"><%= @items_size if @items_size -%></span><br />
      <strong><%= t('budget.page_number') -%>: </strong><span id="page_size"><%= @page if @page -%></span>
    </p>
  </div>

  <div class="actions">
    <%= f.submit t('expense.export_pdf'), :name => "pdf" %>
    <%= f.submit t('expense.export_tsv'), :name => "tsv" %>
  </div>
<%- end -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), expenses_path -%></li>
  </ul>
</div>
