<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.editing', model: t('activerecord.models.news_feed')) -%></h1>
  <div id="content_list">
    <%= render 'form', news_feed: @news_feed %>
  </div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.show'), @news_feed -%></li>
    <li><%= link_to t('page.back'), news_feeds_path -%></li>
  </ul>
</div>
