<div id="content_detail" class="col col-md-9 ui-corner-all">
  <h1 class="title"><%= t('page.new', model: t('activerecord.models.news_feed')) -%></h1>
  <div id="content_list">
    <%= render 'form' %>
  </div>
</div>

<div id="submenu" class="col ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), news_feeds_path -%></li>
  </ul>
</div>
