<div id="content_detail" class="col-md-9">
  <h1 class="title"><%= t("page.new", model: t("activerecord.models.periodical")) -%></h1>
  <div id="content_list" class="card-body">
    <%= render "form", periodical: @periodical %>
  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t("page.listing", model: t("activerecord.models.periodical")),
      periodicals_path -%></li>
  </ul>
</div>
