---
http_interactions:
- request:
    method: get
    uri: https://cir.nii.ac.jp/opensearch/v2/books?count=10&format=rss&p=1&q=library%20system
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/rss+xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="utf-8" ?>
        <rdf:RDF xmlns="http://purl.org/rss/1.0/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:prism="http://prismstandard.org/namespaces/basic/2.0/" xmlns:ndl="http://ndl.go.jp/dcndl/terms" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/" xmlns:cir="https://cir.nii.ac.jp/schema/1.0/" xml:lang="ja">
        <channel rdf:about="https://cir.nii.ac.jp/opensearch/v2/books?q=library%20system&amp;p=1&amp;count=10&amp;format=rss">
        <title>CiNii Research books - library system 10 rss</title>
        <description>CiNii Research books - library system 10 rss</description>
        <link>https://cir.nii.ac.jp/opensearch/v2/books?q=library%20system&amp;p=1&amp;count=10&amp;format=rss</link>
        <dc:date>2026-08-10T20:39:02.241+09:00</dc:date>
        <opensearch:totalResults>3753</opensearch:totalResults>
        <opensearch:startIndex>1</opensearch:startIndex>
        <opensearch:itemsPerPage>10</opensearch:itemsPerPage>
        <items>
        <rdf:Seq>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1971149384716000845"/>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1970586434808402433"/>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1970023484977552695"/>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1970867909844293653"/>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1970586434846207257"/>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1970867909881967660"/>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1970023484976757522"/>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1970023484861425333"/>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1970304959837091251"/>
        <rdf:li rdf:resource="https://cir.nii.ac.jp/crid/1970586434882268700"/>
        </rdf:Seq>
        </items>
        </channel>
        <item rdf:about="https://cir.nii.ac.jp/crid/1971149384716000845">
        <title>Library systems</title>
        <link>https://cir.nii.ac.jp/crid/1971149384716000845</link>
        <rdfs:seeAlso rdf:resource="https://cir.nii.ac.jp/crid/1971149384716000845.rdf"/>
        <dc:creator>American Library Association</dc:creator>
        <dc:publisher>Library Technology Reports, American Library Association</dc:publisher>
        <dc:type>Book</dc:type>
        <prism:publicationDate>1981</prism:publicationDate>
        <dc:identifier rdf:datatype="cir:NCID">AA10632899</dc:identifier>
        <dc:identifier rdf:datatype="cir:ISSN">02770288</dc:identifier>
        <dc:identifier rdf:datatype="cir:LCCN">83009231</dc:identifier>
        <dc:identifier rdf:datatype="cir:URI">https://ci.nii.ac.jp/ncid/AA10632899#entity</dc:identifier>
        <dc:identifier rdf:datatype="cir:URI">https://lccn.loc.gov/83009231</dc:identifier>
        <dc:source rdf:resource="https://ci.nii.ac.jp/ncid/AA10632899#entity"/>
        <dc:source rdf:resource="https://lccn.loc.gov/83009231"/>
        </item>
        <item rdf:about="https://cir.nii.ac.jp/crid/1970586434808402433">
        <title>Library-Scholar communication in ARL libraries</title>
        <link>https://cir.nii.ac.jp/crid/1970586434808402433</link>
        <rdfs:seeAlso rdf:resource="https://cir.nii.ac.jp/crid/1970586434808402433.rdf"/>
        <dc:creator>Association of Research Libraries. [...]
