<div id="content_detail" class="ui-corner-all">
  <h1 class="title"><%= t('page.new', :model => t('activerecord.models.numbering')) -%></h1>
  <div id="content_list">
    <%= render 'form' %>
  </div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.back'), numberings_path -%></li>
  </ul>
</div>
