<div id="content_detail" class="col col-md-9">
  <h1 class="title"><%= t('page.editing', model: t('activerecord.models.library_group')) -%></h1>
  <div id="content_list">
    <%= render 'form', library_group: @library_group %>
  </div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.show'), @library_group -%></li>
  </ul>
</div>
