<!DOCTYPE html>
<html>
<head>
  <title>Next-L Enju Leaf</title>
  <%= render :partial => 'page/include' %>
</head>
<body>

<%= render :partial => 'page/header' %>

<div id="content">

<%= yield %>

</div>

<%= render :partial => 'page/footer' %>

</body>
</html>
