<div id="content_detail" class="col col-md-9">
<h1 class="title card-header"><%= t('page.editing', model: t('activerecord.models.checkin')) -%></h1>
<div id="content_list" class="card-body">
  <%= render 'form' %>
</div>
</div>

<div id="submenu" class="col">
  <ul>
    <li><%= link_to t('page.show'), @checkin -%></li>
    <li><%= link_to t('page.back'), checkins_path -%></li>
  </ul>
</div>
