<div class="row">
  <div class="span9">
    <h1 class="title"><%= t('page.new', :model => t('activerecord.models.checkin')) -%></h1>
    <div id="checkin_list">
      <%= render 'list' -%>
    </div>
  </div>

  <div class="span3">
    <ul>
      <li><%= link_to t('page.new', :model => t('activerecord.models.checkout')), new_basket_path -%></li>
      <li><%= link_to t('page.listing', :model => t('activerecord.models.checkin')), checkins_path -%></li>
    </ul>
  </div>
</div>
