name: Docker Image CI

on:
  push:
    branches: [ main ]
    tags:
    - 'v*'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: docker/metadata-action@v4.0.1
      id: meta
      with:
        images: ghcr.io/next-l/enju_leaf
        tags: |
          type=semver,pattern={{version}}
    - name: Docker Login
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push Docker images
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: ${{ steps.meta.outputs.tags }}
