<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.editing', :model => t('activerecord.models.patron_relationship')) -%></h1>
<div id="content_list">
<%= render 'form' %>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('page.show'), @patron_relationship -%></li>
    <li><%= link_to t('page.back'), patron_relationships_path -%></li>
  </ul>
</div>
