<a href="<%= picture_file_path(picture_file, :format => :download, :size => 'original') -%>"><img src="<%= picture_file_path(picture_file, :format => :download) %>" alt="*" width="<%= picture_file.width %>" height="<%= picture_file.height %>" /></a>

