<!DOCTYPE html>
<html>
<head>
<title><%= resource_title(@manifestation, controller.action_name) %></title>
<%= render 'page/mobile' %>
</head>
<body>

<div data-role="page">

<%= yield %>

</div>

</body>
</html>
